[2017-08-04 15:15] tjoneslo opened #608 "Implement __hash__() and __eq__() on NamedUser"
I have a case where I'm processing the list of reviewers on a Pull Request. When the same person does two reviews the `NamedUser` return from the `PullRequest.get_reviews()`, while they have the same `login`, `id`, and `name`, don't have the same hash value.

If you implement `__hash__()` the python docs strongly recommend implementing `__eq__()` based upon the same values.

It would be nice to ha

[2017-08-04 15:21] tjoneslo commented on #608
Example

[code]

[2017-08-07 11:02] thinksabin opened #610 "can we set branch permission ?"
Hi,

I was checking into the git api and pygithub on any method that we can set the branch permission with readonly where no code can be push or merged in specific branch. eg: locking master branch using pygithub.

thanks

[2017-08-07 16:01] rpocase opened #611 "Add ability to set visibility of organization team"
When creating or managing a team, the only privacy level is "secret". The `Organization.create_team` API should be extended to accept `privacy` of value either `secret` (default) or `closed`.

Relevant API spec: https://developer.github.com/v3/orgs/teams/#create-team

[2017-08-07 19:45] sgleske-ias opened #612 "1.35 release is not tagged"
I installed PyGithub from `pip` and noticed it was revision 1.35.  I went to look at GitHub tags and noticed this project has not tagged the 1.35 release.

[2017-08-08 16:19] alanbernstein commented on #478
I'm interested in this. @kdottiemo, did you make any progress in resolving this error?

[2017-08-08 20:58] jasonwhite opened #613 "Cannot use get_file_contents with paths containing spaces"
The following example fails because the path contains a space:

[code]

[code]

If the path is first `quote`d, then it works:

[code]

[2017-08-15 19:30] jmhossler opened #616 "Team add_membership should take parameter for role"
The github api allows the use of this call to specify the role of the new member, https://developer.github.com/v3/orgs/teams/#add-or-update-team-membership.

Team.add_membership should allow the same.

[2017-08-16 22:48] digitaldavenyc commented on #589
+1

[2017-08-23 12:44] Armatorix opened #617 "Unavalivable link"
Don't know, if it's good place to post it, but two links from [this](http://pygithub.readthedocs.io/en/latest/introduction.html#what-next)  ("What next?") does not work.

[2017-08-24 19:46] babineaum opened #619 "github's api preview "loki" ending"
https://developer.github.com/changes/2017-06-16-loki-preview-ending-soon/

this code needs to be fixed - https://github.com/PyGithub/PyGithub/blob/4c64b28920c8eea834e31b18e2aef6b08d1a94a0/github/Repository.py#L1120-L1132
https://github.com/PyGithub/PyGithub/blob/4c64b28920c8eea834e31b18e2aef6b08d1a94a0/github/Repository.py#L2210-L2240

https://github.com/PyGithub/PyGithub/search?utf8=%E2%9C%93&q=l

[2017-08-25 15:26] crhume opened #620 "Implement affiliation parameter with get_collaborators in Repository.py"
From https://developer.github.com/v3/repos/collaborators/#collaborators we see that the api call to
`GET /repos/:owner/:repo/collaborators`
 takes a parameter "affiliation" which accepts three values "outside", "direct" and "all" and defaults to "all."

[2017-08-28 20:45] capnrefsmmat commented on #605
There does appear to be an undocumented `Team.set_repo_permission` method which does the same thing as `add_to_repos`, but with the `permission` parameter set.

[2017-08-29 13:37] rpocase commented on #605
Sounds like this issue could be resolved by documentation improvement then. For API consistency with REST, updating `add_to_repos` seems optimal. As a user, I would expect to have to call both `Team.set_repo_permission` and `Team.add_to_repos` without looking at the underlying implementation.

[2017-08-30 14:05] samgdf opened #622 "Contributions does not work"
Contributions for named_use does not work for past year. Have this code in a try loop:

`print ("G-COMMITS IN LAST YEAR: " + str(user.contributions))`

where

[code]

and it is printing the name properly, as well as getting email and followers from the name properly.

Is this an issue of contributions simply not working?

[2017-09-04 17:32] luiscruz commented on #589
+1

[2017-09-04 17:37] luiscruz commented on #589
Problem solved with the suggestion from here:
https://stackoverflow.com/questions/41691327/ssl-sslerror-ssl-certificate-verify-failed-certificate-verify-failed-ssl-c/41692664

Did this:
[code]

[2017-09-05 07:56] MrBlaise opened #624 "There are missing parameters from repo creation"
The following parameters are missing from the create_repo methods:

- has_projects
- license_template
- allow_squash_merge
- allow_merge_commit
- allow_rebase_merge

Also the organisation create_repo method accepts a Team object for the team_id, this should already be an id (int, long) not an object

[2017-09-05 07:56] MrBlaise commented on #624
I have created a PR to fix these issues: #623

[2017-09-05 17:12] samgdf commented on #622
http://pygithub.readthedocs.io/en/latest/github_objects/StatsCommitActivity.html

I have found this is the proper usage that I am looking for, however I try:
`            print ("G-COMMITS: " + str(user.StatsCommitActivity(total)))`
and it does not work, however this is the combination as listed in the docs.

[2017-09-06 20:50] grayaii commented on #594
Cool. Good catch.  Feel free to close this badboy then!
Thanks for looking into this!

[2017-09-06 21:07] grayaii commented on #594
One minor thing:  It looks like you can now POST to create/update statuses:
https://developer.github.com/v3/repos/statuses/#create-a-status
It would be great if PyGithub supported this :)

[2017-09-12 06:04] sandipmgiri opened #626 "Fork a repository into Github account"
I am trying to fork a repo using below code :

[code]

However I am getting following errors , looks like I am missing something.
[code]
Please provide comments on this .Thanks!

[2017-09-12 16:28] edouardpoitras opened #627 "pyjwt causing issues with GithubIntegration"
I encountered this issue when using the GithubIntegration class:

    import github
    app_id = aaaa
    private_key = open('key.pem').read()
    installation_id = bbbbb
    integration = github.GithubIntegration(app_id, private_key)
    token = integration.get_access_token(installation_id)
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/eddie/.l

[2017-09-12 20:21] harlowja commented on #586
Ya, it'd be supernice to have something like that merged in (and released); this library seems to lag behind the actual API and/or capabilities, which makes me a little sad :-/

[2017-09-12 20:24] harlowja commented on #586
Especially would like this since I've been trying to ensure all my github configuration for my group is in a yaml format, and not hidden away in the github UI, and then having a program that parses said yaml format and adjusts various github repositories. This creates continuity (and sanity) across my groups repositories and having the ability to programmatically adjust the reviewer protections wo

[2017-09-13 16:52] thegrims commented on #271
@jacquev6 Links to the example are now broken

[2017-09-15 10:54] rexshihaoren opened #629 "wrong 'last-modified'"
the 'last-modified' of a file should be when the file was last updated not when the whole repo was updated

[2017-09-18 14:37] tmshn commented on #572
I added the methods for this!
:point_right: https://github.com/PyGithub/PyGithub/pull/630

[2017-09-18 23:50] thehesiod opened #631 "GitHub pagination issue with large PRs"
NOTE: In my case this is particular to comments, but I haven't ruled out it's not an issue with their other paginated APIs.

NOTE: This seems to have been a series of issues on the github back-end but I'm reporting here to warn others if this issue.

In March of this year I noticed that in large PRs, the correct total number of comments were returned, but often many of them were duplicates.  So fo

[2017-09-19 00:01] thehesiod commented on #631
update, seems like I found a real issue.  Note in https://api.github.com/repos/alistairjcbrown/mock-repo/pulls/7, that review_comments points to: https://api.github.com/repos/alistairjcbrown/mock-repo/pulls/7/comments, whereas comments points to: https://api.github.com/repos/alistairjcbrown/mock-repo/issues/7/comments.  The issue is that in `def get_comments()`:  https://github.com/PyGithub/PyGith

[2017-09-19 00:20] thehesiod commented on #631
btw got a little bit better for PR 567 if I list issue + review comments, then I get 434 + 8 = 442, still short 6 comments

[2017-09-19 16:14] thehesiod commented on #631
ok, just got update from github support:

also I found the corresponding apis: get_issue_comments, get_review_comments, and get_reviews..so looks like everything is working, closing this issue

[2017-09-19 16:14] #631 closed

[2017-09-21 13:30] peterkline opened #634 "Add support for getting and replacing topics on a repository"
Topics are a fairly new feature within Github.  Currently this functionality is provided in the API in a beta mode.  We have a need to use these to add attributes and then consume them for automation.  Hopefully this helps others.

API Documentation:
[List topics in a repo](https://developer.github.com/v3/repos/#list-all-topics-for-a-repository)
[Replace topics in a repo](https://developer.github.

[2017-09-21 15:00] peterkline commented on #629
Can you provide a code of what you are running.  How are you accessing a file object?

[2017-09-22 15:50] gomesfernanda opened #636 "A humble project to collect repos metrics"
Hello! I have a small project that gathers metrics for repos on an organization, all using PyGithub.
It's under https://github.com/gomesfernanda/some-github-metrics

If it's pertinent, it could be on the documentation page under Projects using PyGithub

Thanks!

[2017-09-22 16:32] justfortherec commented on #553
I see the same issue. Here is a small script that exemplifies the problem.

[code]

[2017-09-25 17:30] edunham commented on #571
Just in case I'm not literally the only person ever to have had this problem, a workaround is to use requests to send the PATCH as described in the API docs. Just remember to slap your auth token in the request somewhere. https://github.com/edunham/toys/blob/master/utilities/notification-shusher.py is where i used it.

[2017-09-27 23:40] gunkl commented on #441
this appears to be fixed in 1.35, it doesn't seem documented, but set_repo_permission is in the code. tested and works.

`    def set_repo_permission(self, repo, permission):
        """
        :calls: `PUT /teams/:id/repos/:org/:repo <http://developer.github.com/v3/orgs/teams>`_
        :param repo: :class:`github.Repository.Repository`
        :param permission: string
        :rtype: None

[2017-10-02 08:27] dadokkio commented on #429
There is any update on this issue? I tried to use TwoFactorAuthentication and pratically it works only the first time. As soon I try to get old authorization or delete the actual one it fails:

`
github.GithubException.TwoFactorException: 401 {u'documentation_url': u'https://developer.github.com/v3/auth#working-with-two-factor-authentication', u'message': u'Must specify two-factor authentication O

[2017-10-03 17:57] tomgoren commented on #586
Nice work @a13m!
Meanwhile: https://developer.github.com/changes/2017-09-06-protected-branches-preview-end/.

Looks like we're stuck until someone musters the energy to tackle this.

[2017-10-06 06:58] ruffsl opened #639 "Support for maintainer_can_modify arg with create_pull"
As defined in the github API, there is the ability to permit maintainer to modify the head branch for the PR: https://developer.github.com/v3/pulls/#create-a-pull-request

Currently, I don't see this defined:
https://github.com/PyGithub/PyGithub/blob/3437a7030f02a1648290db581621936eb5771b69/github/Repository.py#L983

[2017-10-07 20:37] mloskot opened #640 "Deleting labels stops after 30 labels (pagination issue?)"
I'm deleting all labels from a repo (it is an empty test repo, no code, no issues, no pull requests, just with labels).

Here is how I do it:

[code]

The removal stops after 30 lables have been deleted:

[code]

Then, I have to re-run the script to delete the remaining labels:

[code]

Is it possibly `DELETE` action vs pagination issue?

If I remove the `label.delete()` step and just print label

[2017-10-08 00:46] brentshermana commented on #553
+1 This feature is necessary for an application I'm trying to build

[2017-10-08 10:18] justfortherec commented on #553
@brentshermana for you application, consider inspecting rate limit headers (of last response; see in my example above) or polling the [`/rate_limit` endpoint](https://developer.github.com/v3/rate_limit/) yourself. That contains information about all kind of rate limits and does not count towards any rate limit.

Eventually, it would be nice if PyGithub would nor only parse `rate` but also parse `r

[2017-10-08 10:27] justfortherec commented on #553
btw: I just noticed, the field `rate` from JSON returned by `/rate_limit` is deprecated and information in `resources` is the recommended alternative: https://developer.github.com/v3/rate_limit/#deprecation-notice

[2017-10-08 19:08] brentshermana commented on #553
I'm doing exactly that. If anyone wants to take adapt solution here and try and make a pull request, you have my blessing:

`
def wait(seconds):
    print("Waiting for {} seconds ...".format(seconds))
    time.sleep(seconds)
    print("Done waiting - resume!")

def api_wait():
    url = 'https://api.github.com/rate_limit'
    response = urlopen(url).read()
    data = json.loads(response.decode())

[2017-10-09 15:56] mmmce1994 opened #641 "push project to github"
hi every one
how to push a project from local to github repository using pygithub library ?
is there any sample code ?

[2017-10-10 18:36] singh1114 commented on #548
I have used this library and used the `user.create_repo(reponame)` method. My user is authenticated but I am still unable to create the repo.

The error looks like this:
`404 {u'documentation_url': u'https://developer.github.com/v3/repos/#create', u'message': u'Not Found'}`

[2017-10-12 11:15] anilchauhangit opened #642 "Need to update the protected branch to allow a team to have push access"
I have a protected branch which has no push access to anyone. I want to update this to have a team with push access to this branch. I want to know the function name to be called to accomplish this.

[2017-10-15 19:52] owy1 commented on #156
I'm sorry but how do you rename a gist file on "editing gist" mode?

[2017-10-16 05:44] hugovk commented on #592
Drop it and 3.2 as well. Consider dropping 3.3 at the same time, all are EOL. Dropping 3.2 will help get of the strange Unicode handling it requires.

## Reasons for dropping old ones

* https://en.wikipedia.org/wiki/CPython#Version_history

### 2.6

* Unsupported since [2013-10-29](https://en.wikipedia.org/wiki/CPython#Version_history)
* https://snarky.ca/stop-using-python-2-6/
* http://www.curio

[2017-10-18 15:48] j-vizcaino opened #645 "Working with PullRequestReview"
Although GitHub API v3 supports it: https://developer.github.com/v3/pulls/reviews/#submit-a-pull-request-review it seems the library does not provide functions to create/update/delete PullRequestReview (only list those).

[2017-10-18 18:51] alertedsnake commented on #399
So.. this seems to work fine, can we get it merged in?  It's been months...

[2017-10-19 12:38] Kravennagen opened #646 "base_url private github or github enterprise"
#Hi, I really don't understand why this code:
[code]
works perfectly but when I want to get the same informations from my enterprise account it doesn't works:
[code]
And I get this error:
[code]
Have you any idea, I think it because of the base_url, but I have to use it if not I can't get my informations...

[2017-10-19 14:59] Kravennagen commented on #646
Adding /api/v3 to the end of my URL and it works !

[2017-10-19 14:59] #646 closed

[2017-10-20 04:58] kpsychas commented on #156
There is a box above the source code where you can edit the name. Just a note for anyone that considers this obvious: the filename that appears on top of the page is not editable and that is what probably creates confusion.

[2017-10-20 05:00] owy1 commented on #156
Thx so much!
Ophelia

On Oct 19, 2017 9:58 PM, "Konstantinos Psychas" <notifications@github.com>
wrote:

[2017-10-23 20:37] iloveyoukisak opened #649 "Add a reaction to a issue comment"
Is it somehow possible to add a reaction like :+1: or :-1: to a comment? I couldn't find it when looking thought the repo or docs.

[2017-10-25 17:41] babineaum commented on #619
cleaned this up in this PR https://github.com/PyGithub/PyGithub/pull/651

[2017-10-25 18:07] alanbernstein opened #652 "Accept "page" argument in stargazer calls"
`get_stargazers` and `get_stargazers_with_dates` use endpoints that support the `page` parameter, but the functions don't accept it.

I'd be happy to submit a pull request, if someone could point me a place to get started.

[2017-10-25 22:53] kiran-vemuri opened #653 "Issue event object with event `labeled` doesn't have label attributes"
I am trying to access the label name from a `labeled` event and looks like that attribute is missing.

[code]

I can get this data using a REST call. Can we add that?

[2017-11-02 15:15] juhlee-microsoft opened #656 "2FA failed in sample script"
Can you fix for 2FA account?
from github import Github

# First create a Github instance:
g = Github("user", "password")

# Then play with your Github objects:
for repo in g.get_user().get_repos():
    print repo.name

[2017-11-13 05:47] peterkline opened #658 "get_organizations different behavior on mac vs. Linux pygithub 1.35"
I have a simple code snippet that works just fine on mac:

[code]

Simple enough.  That same call when running on Centos 7.3 box I get the following stack.  I have updated every thing I can think of to get this to run on linux but no charm.
[code]

[2017-11-15 22:37] kevinjcash commented on #550
I am seeing this as well.

[2017-11-16 13:40] gomesfernanda commented on #478
I'm also interested! :)

[2017-11-16 19:16] kevinjcash commented on #550
I got past this, I just needed a leading slash in the path.

[2017-11-18 23:12] jmhossler opened #659 "get_collaborators does not return permissions information on users"
When accessing the rest API, I get back an attribute called "permissions". This information is very valuable, and it is missing when I call get_collaborators for a repository. Instead, I get back a list of NamedUser, which doesn't contain all the information I need.

[2017-11-20 10:50] helloworld2003 opened #660 "self._url is not a valid attribute"
(Pdb) for i in each_pull_request.get_reviews(): i.update()
*** AttributeError: 'PullRequestReview' object has no attribute '_url'
(Pdb)

[2017-11-20 17:13] psychemedia opened #661 "Downloading large files"
Using the `.get_contents()` method to try to download a large file raises the error:

[code]

Is there a way of detecting this and passing over to another handler that *can* download the file?

For example, if something like this fails:
[code]

optionally revert to:

[code]

[2017-11-21 01:04] stefan2904 commented on #605
Thanks, using `set_repo_permission` instead of `add_to_repos` indeed does the job!

Why is this not documented?  :(
It has a docstring and seems to be there for at least one year?

// edit, well, maybe because the documentation is old?
http://pygithub.readthedocs.io/en/latest/changes.html

[2017-11-22 19:45] jasonwhite opened #663 "Maintenance of this project"
@adamtheturtle @jacquev6 @JPWKU @jayfk @jzelinskie @MichaelPereira @nhomar

Hello! First of all, *thank you* for this project. It has saved me (and many others) a ton of time.

Unfortunately, this project hasn't received much love for over 5 months. Pull requests have been sitting in the queue untouched. I've had to work around many bugs that would have been fixed by some merged pull requests. I u

[2017-11-22 19:54] jayfk commented on #663
Yup, we need more people looking at pull requests. I've added you as a collaborator.

[2017-11-22 19:54] #663 closed

[2017-11-22 19:56] jasonwhite commented on #663
@jayfk Thanks!

[2017-11-22 20:18] jasonwhite commented on #663
@jayfk It seems I wasn't given write access. There's not much I can do without that.

[2017-11-22 20:22] jayfk commented on #663
Have you accepted the invite? You are still showing up as "awaiting response".

<img width="739" alt="screen shot 2017-11-22 at 21 21 11" src="https://user-images.githubusercontent.com/2930472/33148203-34af3738-cfcb-11e7-95dc-9ba81ad680fd.png">

[2017-11-22 20:30] jasonwhite commented on #663
Oopsie. Didn't see that. I'm off to a great start. Thanks again!

[2017-11-22 20:57] #613 closed

[2017-11-22 21:46] jasonwhite commented on #641
I don't think that is possible using only the GitHub API. It is possible to create a *new*, empty repository using [AuthenticatedUser.create_repo](http://pygithub.readthedocs.io/en/stable/github_objects/AuthenticatedUser.html#github.AuthenticatedUser.AuthenticatedUser.create_repo), then use Git itself to set the remote and push up an existing repository.

[2017-11-22 21:47] #641 closed

[2017-11-22 21:50] jasonwhite commented on #612
Looks like it was named [`1.35`](https://github.com/PyGithub/PyGithub/releases/tag/1.35) instead of `v1.35`.

I pushed up a `v1.35` tag to be consistent with the rest.

[2017-11-22 21:50] #612 closed

[2017-11-27 22:25] #624 closed

[2017-11-27 22:32] jasonwhite commented on #661
I've run into this problem before too. In my case, since I always had the SHA of the blob, I just used `git_git_blob` instead.

However, `get_git_blob` doesn't work for any object type besides `blob` (hence the name). You need to know the type of the object before attempting to call it.

To do the fallback, you need to know two pieces of information:
 1. The type of the object.
 2. The SHA of the

[2017-11-27 22:40] jasonwhite commented on #617
Looks like ReadTheDocs just needs to rebuild the documentation. Not sure why this hasn't happened yet.

[2017-11-27 22:44] #300 closed

[2017-11-27 23:02] jasonwhite commented on #588
Should be fixed in the next release.

[2017-11-27 23:02] #588 closed

[2017-11-27 23:03] jasonwhite commented on #627
Duplicate of #588. Should be fixed in the next release.

[2017-11-27 23:03] #627 closed

[2017-11-30 05:38] kristi opened #665 "pygithub3 fails to install: ModuleNotFoundError: No module named 'github'"
pygithub3 fails to install on Python 3.6.3

[code]

OSX 10.12.6
PyEnv 1.1.5
Python 3.6.3

[2017-11-30 05:49] kristi commented on #665
Also fails on Python 3.3.6 and 3.5.4

[2017-11-30 05:57] kristi commented on #665
Oh sorry, it's `pip install PyGithub`

[2017-11-30 05:57] #665 closed

[2017-12-05 16:07] sfdye opened #666 "Repo hooks api not working"
[code]

Running this will encounter

I am just taking `PyGithub` as an example, it doesn't work for all repos, including public and private repos.

Same for all the repo hooks api, like `create_hook` and `get_hook`.

I just checked GitHub v3 repo hooks api:
https://developer.github.com/v3/repos/hooks/

It seems there is an additional attribute `ping_url` and this repo is not updated for it. Not su

[2017-12-05 22:20] MisterBianco commented on #666
Just so you know this is issue #666, just thought that was pretty cool.

[2017-12-06 02:42] sfdye commented on #666
Seems to be a permission issue, I initialied with a token which does not have the create_hook scope.

[code]
change to username and password:
[code]
or
[code]
fixed it.

[2017-12-06 02:42] #666 closed

[2017-12-08 04:04] sfdye commented on #405
+1

[2017-12-08 04:12] jasonwhite commented on #405
Fixed in #570.

[2017-12-08 04:12] #405 closed

[2017-12-08 04:18] #661 closed

[2017-12-08 04:19] jasonwhite commented on #661
Closed as `wontfix`. If anyone has a good idea on how to solve this, I'm happy to reopen. As far as I can tell, it doesn't look like it's possible to do in a clean way.

[2017-12-11 14:37] Nukesor commented on #279
I'll probably take a look at this, as I use this project for my BA thesis and stumble upon this issue all the time.

[2017-12-15 09:17] #649 closed

[2017-12-15 15:32] kbessas commented on #271
+1

[2017-12-15 18:12] asottile opened #672 "Don't include tests in distribution?"
One task I'm working on is sliming down a docker image and one thing that came up was `pygithub`.

The library itself is tiny, but we take a *huge* hit from the tests

[code]

Would a PR which doesn't include the tests in the distribution by default be acceptable?

[2017-12-16 03:05] jasonwhite commented on #672
It looks like the tests were intentionally added back in 2012 to the pypi tarball by commit c6609fd4dacf7347125fdf3d4cf4ac1afeef7d4d for #86.

I don't know if the tests are still needed in the pypi distribution or not. It could be a historical artifact -- I don't think travis-ci was around back then. It seems silly to include them when they get run by the CI build for every commit.

I would feel m

[2017-12-20 15:55] hugovk commented on #592
Please see PR https://github.com/PyGithub/PyGithub/pull/674.

[2017-12-21 06:52] #592 closed

[2017-12-21 21:50] Jessime commented on #478
I'd love to have access to traffic info!

[2017-12-22 18:31] AnneTheAgile commented on #636
lgtm, why don't you submit a PR to this page; https://github.com/PyGithub/PyGithub/blob/master/doc/introduction.rst
and reference this ticket as well so they can be merged/closed together?

[2017-12-22 18:33] AnneTheAgile commented on #617
this should be closed, hopefully with a renamed ticketname, eg "Documentation page link not updated."
It works now.

[2017-12-23 00:03] #617 closed

[2017-12-23 04:14] iraquitan commented on #659
working on it

[2017-12-27 20:08] moghya commented on #399
how to invite someone with just email id using PyGithub ?

[2017-12-28 16:39] sfdye commented on #324
Repository hooks is there, but lacks org hook.

[2017-12-29 13:29] TimofeyTalenfeld opened #679 "Separate request for requested reviewers"
Hi,
why class PullRequest cannot returns requested reviewers from json of this PR? It contains this. Instead of there is separate request for reviewers only.

[2018-01-02 09:41] turly221 opened #680 "Organization webhooks support?"
Hi,

Does it support organization webhook to listen to repository delete event?

[2018-01-03 06:11] sfdye commented on #680
See https://github.com/PyGithub/PyGithub/issues/324

[2018-01-04 03:59] iraquitan commented on #659
#676

[2018-01-05 04:59] awesometim1 commented on #660
<img width="562" alt="screen shot 2018-01-04 at 11 56 27 pm" src="https://user-images.githubusercontent.com/25408591/34596087-fe86ddb2-f1aa-11e7-8cf1-46da3eab09fb.png">

I was not able to replicate the error. Could you specify the conditions that caused the error?

[2018-01-10 23:16] possebon opened #683 "Unable to use get_issues() passing labels parameter"
I'm trying to use this:

`repo = ghub.get_user().get_repo('myrepo')
 repo.get_issues(state='open',sort='created',direction='asc',labels=['faq'])`

When I do that I'm getting this error message:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/github/Repository.py", line 1649, in get_issues
    assert labels is github.GithubOb

[2018-01-11 00:08] possebon opened #684 "How to search for a text on all issues that has a specific label on a specific repository"
Hi,

My previous issue was about get a particular issue, now I'm trying to implement a search on all issues of a repo that matches a text pattern.

I have this code:

`ghub = Github("APITOKEN")
issues = ghub.search_issues(query='q=text_to_search+type:issue+repo:username/my_repo+is:open+label:my_label',sort='created')`

I don't get errors but I can't get the correct results. The results returned ev

[2018-01-11 16:19] X-ration commented on #253
Hello, I just use pygithub to get repositories' statistics, but I found that result of repo.stargazers_count and repo.watchers_count are totally same, so weird... And I wanna know how to solve it.
![default](https://user-images.githubusercontent.com/18644614/34834796-ec827562-f72d-11e7-84da-468855b3c7fa.png)
![2](https://user-images.githubusercontent.com/18644614/34834890-39f2ba46-f72e-11e7-81fb-7

[2018-01-16 12:27] skjerns opened #685 "Is there a way to login using a Deploy Key?"
I want to access Issues and PRs from a private repository, without making an account a collaborator (granting it push rights). One such way would be a Deploy Key.

Is is possible to login using PyGithub using a Deploy Key?

[2018-01-16 21:53] jasonwhite commented on #659
Fixed in #676.

[2018-01-16 21:53] #659 closed

[2018-01-16 22:01] jasonwhite commented on #660
Although not very intuitive, this error usually indicates a permissions problem on the API credentials.

[2018-01-16 22:02] #660 closed

[2018-01-19 14:41] jeis2497052 opened #686 "Propose a small spelling correction to Laziness ?"
Hi All,
did you want to review Laziness ?

[code]

[2018-01-19 23:33] jasonwhite commented on #686
A PR would be much appreciated!

[2018-01-25 17:52] gshefer opened #687 "PullRequestReviewerRequest should be updated"
The payload of GET /repos/:owner/:repo/pulls/:number/requested_reviewers has changed:
https://developer.github.com/changes/2018-01-24-end-thor-preview/
From Jan.24 2018 the module raises as a result:
AtributeError: PullRequestReviewerRequest has no attribute '_url'

We should either pass 'users' as list_item arg to the PullRequestReviewerRequest module or changed the entire module design.

[2018-01-25 17:59] teefill opened #688 "PullRequestReviewerRequest Broken by GitHub API Change"
GitHub recently released a change in the response to the `/requested_reviewers` endpoint.

https://developer.github.com/changes/2018-01-24-end-thor-preview/

This change has broken the PullRequestReviewerRequest class. For example, attempting to iterate over the paginated list of reviewers and collect `login` attributes now returns the following error:
[code]

[2018-01-25 18:36] teefill commented on #688
Looks like I was a few minutes too slow. Closing in favor of #687

[2018-01-25 18:36] #688 closed

[2018-01-27 03:08] #687 closed

[2018-01-31 14:10] tokejepsen opened #693 "Large asset upload timed out."
Trying to upload an asset of ~600 MB to a GitHub release, but getting the below error.

[code]

All I'm doing is ```release.upload_asset("/path/to/deployment.zip")```.

Am I using the library wrong somehow?

[2018-02-02 11:08] MattPhillips1 opened #694 "name 'unicode' is not defined error"
The `asserts` that check against `(str, unicode)` throw the above exception when using python3
e.g
`assert description is github.GithubObject.NotSet or isinstance(description, (str, unicode)), description` when creating a repo for an organisation.

[2018-02-02 14:56] ncapalbo commented on #693
Within the last week, I've been encountering the same SSL error (i.e. 'The read operation timed out') with frequency I've never experienced before.  The API call that seems to be causing it is get_public_events() of the NamedUser object.  I've tried a bunch of things to reproduce the error but I can't pinpoint the root cause.

[2018-02-04 15:54] angelonakosge commented on #546
How did you end up solving your issue? Thx

[2018-02-06 14:07] sfdye opened #696 "New release?"
It's been some time since the last release. I don't really want my project to depend on the master. Who needs it too?

[2018-02-07 06:03] modrzew commented on #696
:+1: to that. Most recent changes to the Review Requests API broke one part of our application, and ideally we'd want to fix it with just bumping the version in our `requirements.txt`.

[2018-02-07 08:27] jasonwhite commented on #604
Fixed in #699.

[2018-02-07 08:27] #604 closed

[2018-02-07 08:37] jasonwhite commented on #696
A release? Yes! A release! Yup. It's time for a release.

@jayfk Can you give me access to upload releases to PyPI? (My username is `jasonwhite0`.)

[2018-02-07 08:40] jayfk commented on #696
Can’t do that as I don’t have the permissions.

In order to issue a new release, simply tag it and push the tags to github. If all tests are passing, travis will deploy the package to pypi.

[2018-02-07 08:42] jasonwhite commented on #696
Thanks. Releasing is easier than I thought.

[2018-02-07 08:53] sfdye commented on #696
Also @jayfk @jacquev6 is this repo still seeking active maintainership? I can help with things like triage issues/PR and cut releases.

[2018-02-07 09:07] jasonwhite commented on #696
@sfdye I would love some help. I have a hard time keeping up with it.

I just published a new release (v1.36). There was quite a bundle of changes in this one.

(For future reference, publishing a release is as easy as `./manage.sh publish`.)

[2018-02-07 09:07] #696 closed

[2018-02-07 09:08] sfdye commented on #696
@jasonwhite Thanks for the release, already bumped my version. You will get the help from me for future releases 😄

[2018-02-07 09:09] jayfk commented on #696
Yeah, welcome @sfdye!

[2018-02-07 09:10] sfdye commented on #696
@jayfk Thanks for the invite!

[2018-02-07 09:25] #303 closed

[2018-02-07 09:25] #616 closed

[2018-02-07 16:27] sfdye commented on #685
@skjerns Can you please elaborate on your use case? I don't feel deploy key is suitable for this use. Normally it's granting you read/white access to the repo code. You will want to use either OAuth or a personal access token.

[2018-02-07 16:30] sfdye commented on #680
@turly221 A PR would be much appreciated.

[2018-02-09 16:19] tsiq-acheung opened #700 "No exception raised for trying to make public fork private?"
Using the GitHub API I received a 422 when trying to privatize a public fork, but when doing so with PyGithub client it responds with no error (and no change to repository private status).  This was done with an organization.

To reproduce:
[code]

[2018-02-12 06:19] mohadelrezk commented on #576
Documentation needs updates.

[2018-02-12 08:31] skjerns commented on #685
@sfdye it is possible to use a `read-only` deploykey https://github.com/blog/2024-read-only-deploy-keys

I wanted to use this key to have safe access to a repo I'm working on. The advantage is that I do not have to create an own account for this.

For now I have settled on using an additional Github account that has limited rights to the repo and that works as well, so for me the issue is resolved

[2018-02-12 13:05] sfdye commented on #685
@skjerns Great to hear your issue is resolved now.

[2018-02-12 13:05] #685 closed

[2018-02-13 16:32] sfdye commented on #686
Closed in #701

[2018-02-13 16:33] #686 closed

[2018-02-13 16:42] sfdye commented on #700
It's probably a bug, as public forks can’t be made private. We should provide the correct response code in the sense. A PR to fix will be welcomed.

[2018-02-14 05:46] sfdye commented on #507
Fixed in #638

[2018-02-14 05:46] #507 closed

[2018-02-15 02:08] sfdye commented on #639
Closed in #703

[2018-02-15 02:08] #639 closed

[2018-02-16 10:04] grahamlyons commented on #551
I notice this is still out of date:
[code]

What's the process for updating the docs? Could we automate it with each new release?

[2018-02-19 15:46] sfdye commented on #551
+1.

@jasonwhite @jayfk do you know the process to update the docs?

[2018-02-19 18:33] jayfk commented on #551
No idea. I’m assuming there’s still a hook in place pointing to the old repo.

We probably need to create new docs on readthedocs and update the link accordingly. We could also try to get ownership of the old readthedocs project by contacting support.

[2018-02-19 23:28] labrys commented on #517
@jayfk [cookiecutter](https://github.com/audreyr/cookiecutter) as described by the readme:

It's mostly used with templates like [ionelmc](https://github.com/ionelmc/cookiecutter-pylibrary) to set up a new project with things like Tox, Travis, Coveralls etc.

[2018-02-20 03:07] labrys commented on #694
@MattPhillips1 contrary to the README stating the package is PY3 compatible, it is not.  It will be if #705 gets merged.  In the meantime if you would like to assist me in PY3 testing, check out the develop branch of my fork.

[2018-02-20 11:59] monperrus opened #707 "get_comments does not return the comments created with create_issue_comments"
I notice that calling `get_comments` on a PR object does not return the comments created with `create_issue_comment`, it only returns the user-based comments made with the web interface. Similarly, `get_issue_comments` does not return the API-created comments.

This is quite counter-intuitive.

Is that on purpose?

[2018-02-20 18:47] daniyalj commented on #583
Anyone found a solution for this issue?

[2018-02-20 21:21] daniyalj opened #708 "Get list of protected branches"
:wave:

I am doing an audit of list of protected branches in my organization. Is there any way to accomplish this?

Here's what I have so far

[code]

I am able to get a list of my branches in specific repos. Is there any function within PyGitHub to get the protection? I dont see it in the docs

[2018-02-21 04:53] res0nance commented on #708
https://github.com/PyGithub/PyGithub/blob/0e5a1d1d53853153863ca8e446e00c71e6eaaa45/github/Branch.py#L57

The branch object has a property protected which should fit your needs.

[2018-02-21 06:40] #608 closed

[2018-02-21 08:09] namratachaudhary commented on #680
Taking this up.

[2018-02-21 14:37] daniyalj commented on #708
@res0nance How do I use this in my current script? I don't see any documentation about this

[2018-02-21 15:02] res0nance commented on #708
`protected_branches = []
for branch in g.get_organization('orgName').get_repo('puppet').get_branches():
    if branch.protected:
        protected_branches.append(branch)`

I've not tested this but from how the code looks i would think this would be the right answer since get_branches returns a paginatedlist of branch objects

[2018-02-21 15:07] daniyalj commented on #708
Thanks for your help @res0nance !

But I'm getting Branch has no attribute '_protected'

[code]

Looking at the documentation and I don't see anything for protected http://pygithub.readthedocs.io/en/latest/github_objects/Branch.html

[2018-02-21 15:31] res0nance commented on #708
According to https://developer.github.com/v3/repos/branches/#list-branches
it does return the protected flag I'm unsure of why the attribute does not exist which according to the code implies the protected field was not returned. Ill look into this when I have the time.

The documentation looks outdated the changelog was last updated in 2014

[2018-02-22 04:34] res0nance commented on #708
@daniyalj I have no idea why github's api doesnt seem to return the protection status but I can offer a workaround.
[code]
From what i see get_branch seems to get the protection status while get_branches does not

[2018-02-22 13:09] goutham9032 commented on #178
dic={}
for i in g.get_user().get_orgs()
     dic=i

i need all the data with out mentioning the keys,like i.name or i.created_at,it needs to store all information with out explicitily naming them
expected o/p
{
    "login":"name"
     "created_at":"date"
     "updated_at":"date"
     and so on
}

[2018-02-22 15:28] daniyalj commented on #708
@res0nance I greatly appreciate the help!

I'm trying the snippet  you posted above. I have two branches in my puppet repository and theyre both protected. Printing `protected_branches.append(b)` returns "None" for both of them which is weird.

[code]

[2018-02-22 23:40] res0nance commented on #708
@daniyalj
Ahh if I misunderstood i thought you needed it as a list object if all you needed to do was to print it, it will be

[code]

In my above example the list of protected branches is protected_branches at the end of the code.

I have contacted github and it seems that protection information is only returned from the branches endpoint when the protected=true param is passed.

[2018-02-23 15:12] daniyalj commented on #708
Thank you @res0nance that works!

Much appreciated!

[2018-02-23 15:12] #708 closed

[2018-02-26 15:37] daniyalj opened #710 "Why does Branches endpoint only return name?"
## Summary

Branches endpoint only returns the name of the Branches.

## Issue

I am getting a list of Branches in my repositories, but it seems to be only returning the name of the branches instead of the plethora information provided by the API https://developer.github.com/v3/repos/branches/#get-branch

## Code
[code]
## Actual output
[code]

## Expected output

Something similar to the JSON her

[2018-02-26 17:12] moltob opened #711 "repo.protect_branch out-of-date?"
I was trying to use the above-mentioned API and get a 404 not found in return. Looking at the issued REST call it seems not to match the current API.

The following REST call is issued:

[code]

However, Github's API docs look like they expect it [differently](https://developer.github.com/enterprise/2.12/v3/repos/branches/#update-branch-protection). E.g. the endpoint URL holds ``/protection`` and

[2018-02-27 02:27] sfdye opened #712 "Remove gh-pages branch and old docs"
It seems that the older version of docs were built on GitHub Pages but not currently maintained anymore.

http://pygithub.github.io/PyGithub/v1/index.html

The information is out-dated on PyPI: (under Homepage)
https://pypi.org/project/PyGithub/

Shall we update it?

[2018-02-27 02:28] sfdye commented on #712
@jasonwhite @jacquev6

[2018-02-27 02:31] sfdye commented on #711
@moltob Thanks a lot for reporting. You are right, GitHub constantly updates it API and we are absolutely not up-to-update on this change. Feel free to make a PR to fix it!

[2018-02-27 02:32] sfdye commented on #680
@namratachaudhary any update on this?

[2018-02-27 03:42] sfdye commented on #710
This is only the string representation of the actual object.

To see all available attributes:
`print(dir(branch))`

You should be able to access a whole range of attributes like `branch.protected`.

[2018-02-27 06:26] namratachaudhary commented on #680
Writing tests for the same. A little stalled. Will try to raise a PR in couple of days

[2018-02-28 20:26] boreal321 opened #713 "Can't access site_admin from collaborator endpoint"
Hello,

I'm trying to determine if a collaborator is a site admin but the site_admin key does not get returned:

## code

[code]

## error

[code]

Thanks

[2018-02-28 23:10] seenaomi commented on #583
Boo same issue..

[2018-03-01 04:04] sfdye commented on #713
@boreal321 Thanks for reporting. `site_admin` needs to be implemented for `NamedUser`. This should be an easy fix, a PR will be welcomed.

[2018-03-01 04:08] sfdye commented on #551
I am requesting ownership of the current dtd, once I have access, will set up the hook to automate this.

[2018-03-01 09:44] sfdye commented on #551
Fixed in 1ca7d523fb

But right now it's still manual because I don't have access to the webhook setting.

[2018-03-01 09:44] #551 closed

[2018-03-01 09:48] sfdye opened #714 "Add Contributing back to doc"
Left-over from #551 and 1ca7d523fb4af

[2018-03-01 14:40] timball opened #715 "Organization Outside Collaborators"
https://developer.github.com/v3/orgs/outside_collaborators/

There is no matching method for this in PyGithub. I need this to make a chatops bot that polls who in an org has 2fa enabled.

--timball

[2018-03-02 03:46] sfdye commented on #715
You are right, this is not supported yet. We need a PR for it.

[2018-03-02 18:37] JessMorgan opened #717 "Comments do not include reply info"
assert github.Github().get_user().get_repo("PyGithub").get_pull(664).get_comment(166456140).in_reply_to_id == "166453895"

Currently, in_reply_to_id is undefined.  This makes it impossible to understand the comment threading.

[2018-03-03 03:40] sfdye opened #720 "Improve documentation for CONTRIBUTING.md"
A lot of PRs did not have unit tests simply because contributors don't know how to write it properly for this repo. We should improve the contributing docs.

[2018-03-03 11:54] sks444 commented on #321
Hello everyone,
I have started writing examples for PyGithub, [have a look](https://github.com/sks444/Pygithub-Examples) and feel free to contribute ;)

[2018-03-03 22:05] sfdye commented on #297
@jacquev6 @jzelinskie I am too. Taking over rtd and it’s working now just need to be invited to the PyGithub members team so I can manage the repo webhooks.

[2018-03-04 05:42] res0nance commented on #715
I've attempted to implement them here but have yet to test any of it or start on its unit tests.

https://github.com/res0nance/PyGithub/tree/feature/outside_collaborators

[2018-03-04 11:15] NicoHood opened #721 "GPG signatures for source validation"
As we all know, today more than ever before, it is crucial to be able to trust our computing environments. One of the main difficulties that package maintainers of GNU/Linux distributions face, is the difficulty to verify the authenticity and the integrity of the source code. With GPG signatures it is possible for packagers to verify source code releases quickly and easily.

In order to securely p

[2018-03-04 13:43] sfdye commented on #715
@res0nance Nice! I am waiting for your PR.

[2018-03-04 13:50] sfdye commented on #715
@res0nance @timball I just realized #533 will fix it.

[2018-03-05 01:02] res0nance commented on #715
@sfdye no worries my branch still implements the remaining 2 functions we should still merge the other PR if it has no conflicts and look at the remaining PRs there could be more API updates hidden in there.

[2018-03-05 05:51] sfdye commented on #715
@res0nance Okay then, still waiting for your PR 😄

[2018-03-06 00:38] lmazuel opened #722 "Support for "Review a user's permission level""
Support endpoint:
https://developer.github.com/v3/repos/collaborators/#review-a-users-permission-level

I'm not exactly sure what should the accessors:
[code]

Note that it's not the same as listing collaborators and check "permission" node, the string content is not the same.

[2018-03-06 02:36] sfdye commented on #713
Fixed in #719

[2018-03-06 02:36] #713 closed

[2018-03-06 02:46] sfdye commented on #722
@lmazuel Indeed, this is missing. Do you want to submit a PR so we can review together? Maybe call it like `review_collaborator_permission`.

[2018-03-06 14:49] moijes12 opened #723 "Add a way to get a list of all public repositories on github"
How do we find the list of all repositories in github.

Using the command line it is possible, see https://developer.github.com/v3/repos/#list-all-public-repositories

I am not able to do it with pygithub

[2018-03-07 01:14] lmazuel commented on #722
Sure, I patched my own version so I should definitely be able to do a PR. I do that asap.

[2018-03-07 11:16] sfdye commented on #723
Yes, you can do it with PyGithub with `get_repos()`:
http://pygithub.readthedocs.io/en/latest/github.html#github.MainClass.Github.get_repos

[2018-03-07 11:16] #723 closed

[2018-03-07 12:03] sfdye opened #724 "Add License API"
https://developer.github.com/v3/licenses/

[2018-03-07 22:32] gfreivasc opened #725 "GithubIntegration with APP specific APIs"
It would be nice to have the class `GithubIntegration` coming with calls like `get_installations()`, `get_installation(:installation_id).get_repos()`, etc. Currently it only serves as a credential fetching helper class, while it is still necessary to manually make app installation specific requests.

[2018-03-09 07:49] sfdye commented on #297
Thanks @jzelinskie for the invitation. I've taking over readthedocs for now and have set up webhooks to build each master commits.

[2018-03-09 07:49] #297 closed

[2018-03-09 07:52] sfdye commented on #321
Latest docs on [readthedocs](http://pygithub.readthedocs.io/en/latest/) site should be easy to follow now.

[2018-03-09 07:52] #321 closed

[2018-03-09 08:25] sfdye commented on #714
Actually we don't really need this in readthedocs.

[2018-03-09 08:25] #714 closed

[2018-03-10 06:07] #387 closed

[2018-03-10 06:14] #581 closed

[2018-03-10 12:13] #434 closed

[2018-03-10 22:32] #555 closed

[2018-03-12 15:02] #680 closed

[2018-03-13 13:55] sfdye commented on #712
Removed stale `gh-pages` branch.

[2018-03-13 13:55] #712 closed

[2018-03-14 08:03] zhangysh1995 opened #730 "github.search_repositories returned empty with combined queries"
**Expected behavior:**
`results = g.search_repositories(query) ` returns correct results for `q=topic:cmake+language:cpp`

**Error behavior:**
None results received.

**Expected url**:
`https://api.github.com/search/repositories?q=topic:cmake+language:cpp`

**Code:**
[code]
**Result:**
`none output`

**Notes:**
Here is the code that works:
[code]

**======= update =======**
with fix `topic:cmake+l

[2018-03-15 01:04] peterkline commented on #640
So this is a pagination implementation and not an "issue"
From the code the rtype is a PaginatedList:
[code]

So an implementation would be:

[code]

Then you just need to iterate over the number of pages with the get_labels()[page #] to get the labels to delete.

[2018-03-15 02:34] #545 closed

[2018-03-15 02:34] #550 closed

[2018-03-15 02:37] sfdye commented on #508
@tedg-cisco I am aware of this. See #724

If you really want this feature, you could submit a PR and I will review or someone else could take it but that will take some time.

[2018-03-15 03:33] sfdye commented on #584
https://github.com/sks444/Pygithub-Examples

[2018-03-15 03:33] #584 closed

[2018-03-15 03:36] sfdye commented on #730
@zhangysh1995 We don't have a section on the documentation itself on code examples as of now.

Feel free to checkout this [repo](https://github.com/sks444/Pygithub-Examples) and contribute.

[2018-03-15 03:36] #730 closed

[2018-03-15 03:48] sfdye commented on #548
I just checked, it should work. Check whether you personal access token has the correct permission, and whether you want to create a personal repo or org repo.

https://developer.github.com/v3/repos/#create

[2018-03-17 05:17] sfdye commented on #526
Fixed in #525

[2018-03-17 05:17] #526 closed

[2018-03-18 03:38] sfdye commented on #398
Close as duplicate of #508

[2018-03-18 23:39] #636 closed

[2018-03-18 23:40] sfdye commented on #636
@gomesfernanda Merged!

[2018-03-19 15:33] webknjaz commented on #725
M/b do this through CM?
[code]

[2018-03-20 00:42] sfdye commented on #582
@gabru-md You're welcome 😄

[2018-03-20 00:42] #582 closed

[2018-03-21 00:35] sfdye commented on #432
Still true today, took me a while to understand the testing framework

[2018-03-21 01:13] jakirkham commented on #432
Any thoughts on writing up something about what you learned about the testing framework? ;)

[2018-03-21 01:27] sfdye commented on #321
@MaslowCommunityGardenRobot I agree. I am thinking of starting a new PyGithub by examples section on the docs, but we would require a lot of user contributions for it. Is this something that would interest you?

[2018-03-21 02:11] sfdye commented on #720
Close in favor of #432

[2018-03-21 02:11] #720 closed

[2018-03-21 02:12] #619 closed

[2018-03-21 02:13] sfdye commented on #645
It is now.

See #538 and #662

[2018-03-21 02:13] #645 closed

[2018-03-21 05:46] sfdye commented on #693
Is this still an issue?

@ncapalbo can you provide some details of your case?

[2018-03-21 07:29] sfdye commented on #572
Yes, there is now. You can use the `type` parameter to specify only search against PR:
https://developer.github.com/v3/search/#parameters-3

Something like:

`g.search_issues(query="query", qualifiers={'type':'pr'})`

[2018-03-21 08:40] sfdye opened #733 "Add pull request template and issue template"

[2018-03-21 12:52] sfdye commented on #432
@jakirkham Maybe in a bit, when I have some free time.

[2018-03-22 14:28] sfdye commented on #572
Feel free to re-open if needed.

[2018-03-22 14:32] ncapalbo commented on #693
@sfdye apologies for the delay in following up to this!

I'm still experiencing intermittent failures in using the library, but it's very unclear what exactly is the root cause (i.e. whether it's PyGitHub or a strange behavior since the script is running in AWS Lambda).  After a bit of debugging here is the snippet of code where the issue is occurring:

[code]

find_sensitive_commits() looks like

[2018-03-22 14:39] sfdye commented on #693
Very interesting use case indeed! I am sorry but it seems the topic has diverged as the original issue was with the asset upload API and now is `get_public_events()`? What is the exact issue please?

[2018-03-22 15:12] sfdye commented on #711
I think this might link to #527

[2018-03-22 15:16] ncapalbo commented on #693
Apologies if my response wasn't clear.  The exact issue is (or at least was) that both calls -- get_public_events() as well as upload_asset() -- were resulting in the `The read operation timed out` SSL error from the original comment.  My error seems to be diverging from that now, but again, it's hard to tell since whatever exception is being caught doesn't apparently have a message object field.

[2018-03-22 15:29] sfdye commented on #693
Thanks, I am clearer now. Give me some time to investigate the issue and get back to you. This might be a bit tricky to debug though.

[2018-03-23 05:03] tmshn commented on #572
Thanks @sfdye, but I'm afraid you are seeing wrong point (though I can't re-open this cz I'm not the author).

Even if you specify `{'type':'pr'}` on `search_issues`--well that's true it returns only pull requests, but it's represented in the `github.Issue.Issue` class. This is that kind of interface.

[code]
[code]

The point is: we want convert `github.Issue.Issue` class instance which represent

[2018-03-23 05:09] sfdye commented on #572
I understand that. Is there a specific use case to convert between the two types instead of retrieving the correct one in the first place?

[2018-03-23 05:13] sfdye commented on #572
My bad, it seems your PR is still required. Will re-open.

[2018-03-23 05:20] tmshn commented on #572
[Issue→PR]
Yes, simply because Github provides no API to "search pull request" directly.

[PR→Issue]
Mmm, probably no, I think.

[2018-03-26 00:40] #515 closed

[2018-03-26 00:47] sfdye commented on #441
It's in the docs now: http://pygithub.readthedocs.io/en/latest/github_objects/Team.html#github.Team.Team.set_repo_permission

[2018-03-26 00:47] #441 closed

[2018-03-26 02:26] sfdye commented on #572
Closed in #630

@tmshn Thanks for your PR!

[2018-03-26 02:26] #572 closed

[2018-03-26 11:28] kbessas opened #736 "Branch Protection calls missing"
I believe these are still missing:

https://developer.github.com/v3/repos/branches/#get-branch-protection
https://developer.github.com/v3/repos/branches/#update-branch-protection
https://developer.github.com/v3/repos/branches/#remove-branch-protection
https://developer.github.com/v3/repos/branches/#get-required-status-checks-of-protected-branch
https://developer.github.com/v3/repos/branches/#updat

[2018-03-27 07:31] sysrsbuild commented on #323
Hi , Thank you all.
but can you explain how can I print the collaborator ?
I am getting error on these two lines:
"
for collaborator in collaborators:
		print (collaborator.login)
"

[2018-03-27 07:32] tamaramois commented on #323
Hi , Thank you all.
but can you explain how can I print the collaborator ?
I am getting error on these two lines:
"
for collaborator in collaborators:
print (collaborator.login)
"

[2018-03-29 09:27] kevin-y opened #739 "support for github enterprise apis"
Does this lib support github enterprise, especially the pre-receive-hook apis?

- https://developer.github.com/v3/repos/pre_receive_hooks
- https://developer.github.com/v3/orgs/pre_receive_hooks/
- https://developer.github.com/v3/enterprise-admin/pre_receive_hooks/

[2018-03-29 10:17] sfdye commented on #306
Closed in #307

[2018-03-29 10:17] #306 closed

[2018-03-29 10:18] sfdye commented on #736
Link to #527

[2018-03-29 17:44] BarbourSmith commented on #321
I would gladly contribute if it was easy to make pull requests to. After working with pygithub for a couple weeks now it's really easy to use and well written, but a couple clear examples would have helped me a lot getting started and I am happy to contribute them as long as you give them a look over to make sure I'm doing things right 😉

[2018-03-30 02:48] sfdye commented on #534
I will probably add this to some example usage page.

[2018-03-30 02:48] #534 closed

[2018-03-30 02:54] sfdye commented on #321
@BarbourSmith That sounds brilliant! I can't wait to see you PR. Maybe start with a simple `doc/example-usage.rst`? Once the page looks good I will try to merge it to readthedocs itself 😃

[2018-03-30 03:04] sfdye commented on #443
Looking at the latest API:
https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts

I believe the `contributions` is an out-dated attribute from the old API:
`/repos/:owner/:repo/contributors`

This attribute should be removed and this API needs to be updated as well.

[2018-03-30 03:09] sfdye commented on #516
I have the same concern with you. With a lot of users turning on 2-factor authentication, we should support record test data with user token as well. Right now I have to manually replace all `token_private_token_removed` with `login_and_password_removed`.

[2018-04-02 18:06] TheVetter commented on #634
Has topics support been added?

[2018-04-03 21:54] tjboring commented on #399
Hmm, what's the status of this issue? I see the following PRs that appear to address it:

- https://github.com/PyGithub/PyGithub/pull/424
- https://github.com/PyGithub/PyGithub/pull/726

Neither of the above have unittests.

But these 2 commits referenced above add the tests:
- https://github.com/jbweston/PyGithub/commit/c1ce18a24632e8d4b0752b19ab3fec9806e54593
- https://github.com/jwplayer/PyGith

[2018-04-04 09:42] sfdye commented on #399
@tjboring You are right. Would you like to glue the pieces together so we can merge this change?

[2018-04-04 14:59] tjboring commented on #399
@sfdye Sure. Let me figure out the best way to proceed. I'll update this thread with the steps once I figure it out.

[2018-04-04 15:35] tjboring opened #740 "Tests fail with python 3.6.4"
Just to be sure it wasn't a `PYTHONPATH` issue, I also re-ran the command below after setting it.

[code]

[2018-04-04 16:04] tjboring commented on #399
I'm open to other suggestions, but what I've come up with is this:

- create a new fork
- copy/paste the changes from PRs 424 and 726
- write tests and get them to pass
- create new PR

[2018-04-04 16:40] tjboring commented on #399
@sfdye I'm getting a 404 trying to create the replay data:

[code]

[2018-04-05 02:31] sfdye commented on #740
It's an known issue for python2/3 import compatibility, right now the work-around is to run `python setup.py test` if you are using python3.

[2018-04-05 02:31] #740 closed

[2018-04-05 02:33] sfdye commented on #634
@TheVetter Should be soon, I have reviewed the PR and still waiting response for the original author @peterkline

[2018-04-05 02:35] sfdye commented on #399
@tjboring As I mentioned in another thread, the `BeaverSoftware` organization does not seem to exist anymore.

Maybe you can open a PR to merge the commits first and I will take a look?

[2018-04-05 16:54] tjboring commented on #399
I figured out a workaround. PR forthcoming.

[2018-04-05 17:33] tjboring commented on #399
@sfdye https://github.com/PyGithub/PyGithub/pull/741

[2018-04-05 17:35] tjboring commented on #740
Ah, cool.  Thanks!

[2018-04-06 01:13] migueleliasweb commented on #634
While this issue is not fixed. we should be able to access the topics with the `_rawData`, right ?

[2018-04-06 01:17] #398 closed

[2018-04-06 01:17] #508 closed

[2018-04-06 01:17] #724 closed

[2018-04-06 01:18] sfdye commented on #634
@migueleliasweb I am afraid not, as it requires calling another endpoint. (`/topics`) However, I will try to get this merged soon.

[2018-04-06 01:25] sfdye commented on #634
@migueleliasweb You are right, the `topics` attributes is currently in preview, but to edit the attributes we still need to go back to `/topics` endpoint.

[2018-04-06 03:56] migueleliasweb commented on #634
@sfdye I just wanted to list them =/

Anyway... I seem unable to get them even accessing the `_rawData` directly. See:

[code]

[2018-04-06 03:58] sfdye commented on #634
@migueleliasweb You're missing the custom header `application/vnd.github.mercy-preview+json`

[2018-04-06 04:04] migueleliasweb commented on #634
@sfdye Pardon me, I totally missed that !

[2018-04-06 08:54] sfdye commented on #324
Closed in #729

[2018-04-06 08:54] #324 closed

[2018-04-06 09:00] sfdye commented on #683
Hi @possebon the label parameter is expecting a list of `github.Label` type, not a string. So you can do something like:

[code]

[2018-04-06 09:00] #683 closed

[2018-04-06 09:01] #548 closed

[2018-04-06 09:09] #298 closed

[2018-04-06 09:27] sfdye commented on #707
Hi @monperrus Thanks for reporting.

Can you provide an example?

[2018-04-06 10:30] #575 closed

[2018-04-06 11:09] sfdye commented on #700
@tsiq-acheung I tried to reproduce this but I only got a 404 from both calling API and using this library.

[2018-04-06 12:27] tsiq-acheung commented on #700
@sfdye I ageee a 404 is good enough, I’ll give it another shot and close this out if so.

The repo was only temporary as its under the organization, but if I have another successful test I’ll leave it up to confirm.

[2018-04-06 13:05] tsiq-acheung commented on #700
Looks to be the same, but maybe it's a GitHub problem and not PyGithub. After stepping into the `repo.edit()` I get to `__requestRaw()` in Requester.py with these arguments:
`verb: 'PATCH', url: '/repos/tsiq/acheung-test-repo-1', input: '{"name": "acheung-test-repo-1", "private": true}'`

Then after `cnx.getresponse()` I have a response status of 200, so nothing is thrown when it goes up the stack

[2018-04-06 15:25] sfdye commented on #700
@tsiq-acheung

From https://developer.github.com/v3/repos/#edit

Note: You will get a 422 error if the organization restricts changing repository visibility to organization owners and a non-owner tries to change the value of private.

It looks like this constraint only applies for a repo under a organization, since you are always the owner of your own repo, so you should be able to change the visi

[2018-04-06 15:28] sfdye commented on #700
@acheung456 This will give me a 404. Maybe add me as a non-owner member and I will try again.

[2018-04-06 17:15] monperrus commented on #707
Steps to reproduce:

1. post comment x with create_issue_comments
1. get comment list with get_comments
1. check that x in in list (this fails, x is not the list)

[2018-04-07 04:34] sfdye commented on #707
@monperrus To answer your original question. Yes that's on purpose.

From https://developer.github.com/v3/pulls/comments/:

So to summarize, PR review comment is different from issue comment. However, if you look at the source code, the `get_comments` method on PullRequest is actually an alias of `get_review_comments`. (probably a history problem, I don't know)

`get_issue_comments` is what you wa

[2018-04-07 08:01] sfdye commented on #600
@1605200517

This is expected as described in the docs:
https://developer.github.com/v3/issues/#parameters-1

If you wanna inspect the state of the issue, you should use `issue.state` property instead, the `closed_at` is `None` for open issues.

[2018-04-07 08:01] #600 closed

[2018-04-07 08:47] sfdye commented on #653
@kiran-vemuri Thanks for report. Can you elaborate a bit more and maybe provide a code snippet?

[2018-04-07 08:48] sfdye commented on #571
Thanks for reporting. I am open for a PR on this.

[2018-04-07 08:49] sfdye commented on #656
If you enabled 2FA (like myself), maybe using token to authenticate instead of username and password?

[2018-04-07 08:53] #603 closed

[2018-04-07 08:55] sfdye commented on #606
Project endpoint is not implemented yet. I am open for any PR.

[2018-04-07 08:56] sfdye commented on #601
This is fixed in master.

[2018-04-07 08:56] #601 closed

[2018-04-07 08:57] sfdye commented on #620
@crhume Would you mind making a PR out of your branch?

[2018-04-07 09:03] sfdye commented on #594
@grayaii This is already there. You can use `Commit.create_status` method to create a status check for your PR. The trick however is you need to find the correct commit to create the status on.

This is what I did in one of my projects:
[code]

[2018-04-07 09:04] #594 closed

[2018-04-07 09:05] sfdye commented on #626
@sandipmgiri It's expecting a `Repository` object, not a string literal.

So this will work:
[code]

[2018-04-07 09:05] #626 closed

[2018-04-07 09:07] sfdye commented on #541
Fixed.

[2018-04-07 09:07] #541 closed

[2018-04-07 09:10] sfdye commented on #521
This is fixed.

[2018-04-07 09:10] #521 closed

[2018-04-07 09:11] sfdye commented on #561
Removed.

[2018-04-07 09:11] #561 closed

[2018-04-07 09:14] sfdye commented on #563
Thanks for reporting.

Please use `forks_count` according to the latest API. I suspect `forks` was an out-dated property, which we should properly depreciate and remove.

[2018-04-07 11:52] Squ1dd13 opened #742 "SSL error using sample code"
Using the sample code, when I run the code, i get 'ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:645)'

[2018-04-07 12:24] monperrus commented on #707
Thanks for the explanation.

Created https://github.com/PyGithub/PyGithub/pull/743 to fix the issue.

[2018-04-07 14:24] edanhauon opened #744 "Add support for searching topics"
Searching by topic is a feature offered in the beta version of the API.  We need this feature in order to collect data about repositories from a topic point of view.

[Searching Topics](https://help.github.com/articles/searching-topics/)
[Searching Topics by API](https://developer.github.com/v3/search/#search-topics)

Example of use:
[code]

[2018-04-07 15:41] #707 closed

[2018-04-07 16:56] sfdye commented on #742
Could you please provide more details of the issue?

[2018-04-07 16:57] sfdye commented on #744
@edanhauon Thanks for reporting. If you can put in a PR I will be willing to review it.

[2018-04-07 17:00] sfdye commented on #711
Closing this as a duplicate of #736

[2018-04-07 17:00] #711 closed

[2018-04-07 17:01] sfdye commented on #736
Closing this as a duplicate of #586

[2018-04-07 17:01] #736 closed

[2018-04-07 17:01] sfdye commented on #610
Closing this as a duplicate of #586

[2018-04-07 17:01] #610 closed

[2018-04-07 17:39] #489 closed

[2018-04-07 17:44] #404 closed

[2018-04-07 17:45] #332 closed

[2018-04-08 02:20] bushig opened #745 "Missing zipball_url and tarball_url in python 3"
I am using PyGithub version 1.38 and I am doing the following:
[code]
gives me 'GitRelease' object has no attribute 'zipball_url'. This problem is valid for python 3.6 and 3.5. On python 2.7 works just fine

[2018-04-09 05:48] sfdye commented on #429
@blast-hardcheese Good point. I am closing this for now.

[2018-04-09 05:48] #429 closed

[2018-04-09 07:33] sfdye commented on #504
In that case, I suspect the token does not have the permission to create a label. Feel free to re-open if this is still an issue.

[2018-04-09 07:33] #504 closed

[2018-04-09 07:35] sfdye commented on #611
Closed in #702

[2018-04-09 07:35] #611 closed

[2018-04-09 07:38] sfdye commented on #652
Hi @alanbernstein you don't need to implement the page parameter, it's a standard parametr for all endpoint that has pagination which is already implemented in this library at a `PaginatedList` class.

[2018-04-09 07:38] #652 closed

[2018-04-09 07:41] sfdye commented on #642
I believe it's this endpoint:
https://developer.github.com/v3/repos/branches/#add-team-restrictions-of-protected-branch

However currently this is not implemented yet, see #736

Closing this as a duplicated, please see that other issue for updates!

[2018-04-09 07:41] #642 closed

[2018-04-09 07:47] sfdye commented on #580
@wrjohnson This is very useful! Would you like to make an PR? I will be happy for review.

[2018-04-09 07:49] sfdye commented on #564
Good catch! @fridex Would you like to submit a PR?

[2018-04-09 07:51] sfdye commented on #502
Yes there is.

use the `g.search_issues()` method:
https://developer.github.com/v3/search/#search-issues

Because pull request IS also considered an issue.

[2018-04-09 07:51] #502 closed

[2018-04-09 07:54] sfdye commented on #484
There are some confusion of the method name. The correct one to retrieve comments for an issue would be `get_issue_comments`. Actually `get_comments` is just an alias of `get_review_comments` so there will always return you the same results.

[2018-04-09 07:54] #484 closed

[2018-04-09 07:55] sfdye commented on #482
It is there now.

[2018-04-09 07:55] #482 closed

[2018-04-09 07:56] sfdye commented on #481
This was fixed in master.

[2018-04-09 07:56] #481 closed

[2018-04-09 08:01] sfdye commented on #457
@fvanboven Yes, you are right.

Since the member API does not give email. You need get the user using `g.get_user(username)` and pass in the `login` attribute from the previous call as the username.

[2018-04-09 08:01] #457 closed

[2018-04-09 08:03] #373 closed

[2018-04-09 08:04] #392 closed

[2018-04-09 08:05] #385 closed

[2018-04-09 08:10] sfdye commented on #423
@Lucashuang0802 Can you elaborate a bit more? Why do you need this and how?

[2018-04-09 08:12] #280 closed

[2018-04-09 08:12] #310 closed

[2018-04-09 08:17] sfdye commented on #311
This is now implemented.

[2018-04-09 08:17] #311 closed

[2018-04-09 08:39] sfdye commented on #329
See https://developer.github.com/v3/repos/#get

The reason is when you create a `Organization` object out of the response of a `get_repo` call, you only a subset of the all the organization data, like:
[code]

If you really want to compare, you have to get back the full organization by `g.get_organization(org.id)`

[2018-04-09 08:39] #329 closed

[2018-04-09 08:39] #320 closed

[2018-04-09 09:44] fridex commented on #564
If time allows why not. However I don't see it doable in the near future so if someone is interested, feel free to pick this item.

[2018-04-09 11:13] pinakc opened #746 "add ignore SSL option for github enterprise accessibility"
Please provide a 'verify=False' kinda flag for accessing enterprise servers with self signed certificates.

[2018-04-09 14:44] #399 closed

[2018-04-09 23:58] sfdye commented on #399
I will make a release today.

[2018-04-10 09:32] sfdye commented on #745
This was fixed #522, so update PyGithub to the latest version 1.39 will do.

[2018-04-10 09:32] #745 closed

[2018-04-11 06:49] Gaobx opened #749 "There seem to be no params of 'updated_at' and 'create_at' in the class of Commit"
There seem to be no params of 'updated_at' and 'create_at' in the class of Commit.

But there are these items in the official API.(https://api.github.com/repos/input-output-hk/cardano-sl/git/commits/aed0d925b06e0bd1278e26539c445274c52f4b67)

[2018-04-11 16:43] sfdye commented on #749
I don't see these two attributes in the example you provide or the official docs:
https://developer.github.com/v3/repos/commits/#get-a-single-commit

[2018-04-11 22:38] stsdc opened #750 "get_latest_release() returns error 404 if there is only one release"
from github import Github

    gh = Github()

    organization = gh.get_organization("PyGithub")
    # organization = gh.get_organization("TurtleRover")
    repository = organization.get_repo("PyGithub")
    # repository = organization.get_repo("Turtle-Rover-Mission-Control")
    latest = repository.get_latest_release()

    print (latest.tarball_url)

[2018-04-12 02:24] sfdye commented on #749
[code]

There you have it.

[2018-04-12 02:24] #749 closed

[2018-04-12 09:06] stsdc commented on #750
@sfdye updated. When using PyGithub repo everything is ok.

[2018-04-12 09:15] sfdye commented on #750
This is not a PyGithub issue. I tried calling the API directly also returns 404.

https://developer.github.com/v3/repos/releases/#get-the-latest-release

This endpoint only returns full release, maybe your repo only has pre-release?

[2018-04-12 10:00] stsdc commented on #750
Yes, it is a prerelease, but shouldn't it return all releases? even prereleases?
also this works for me: https://api.github.com/repos/TurtleRover/Turtle-Rover-Mission-Control/releases
or I'm using API in wrong way

[2018-04-12 10:06] stsdc commented on #750
You're right.

[2018-04-12 10:06] #750 closed

[2018-04-12 10:07] sfdye commented on #750
@stsdc no problem

[2018-04-13 03:02] sfdye commented on #415
Looking at a few related issues #433 #487 #596

I guess the `total_count` is from the old Github API response? Shall we remove the `TotalCount` attribute on `PaginatedList` since its implementation is broken and always returns `None`. Instead, we could add something in the docs like:
[code]

And maybe we can implement the `__len__` to return the current elements count?

[2018-04-13 07:32] Tommos0 commented on #415
I think the Github API will return the total amount of pages for a query, so if you set `per_page=1` you should be able to get the total number of items from a single request. This can be a lot more efficient than iterating (for large result sets).

[2018-04-13 07:43] sfdye commented on #415
@Tommos0 I see, this is probably a good idea. We can even do a `HEAD` instead of `GET` just to retrieve the `Link` header.

[2018-04-13 13:31] edanhauon commented on #634
Hi @sfdye
How soon is soon?

I ask since My app is dependent on this matter - and if it won't happen soon we'll have to develop this ourselves.

Your help is much appreciated 👍.

Edan

[2018-04-13 13:35] sfdye commented on #634
@edanhauon The original author is not responding, so if you could open a new PR I am happy to review and cut a new version once that's merged.

[2018-04-13 14:08] edanhauon commented on #634
Could you maybe add me to the current PR so I could what has been done already?

Thanks,
Edan

[2018-04-13 14:11] sfdye commented on #634
@edanhauon what do you mean?

[2018-04-13 14:15] edanhauon commented on #634
@sfdye never mind, I see it in this thread. thanks.

[2018-04-13 14:15] peterkline commented on #634
Sorry guys for not being around.  Been buried with work related coding.  if you can't wait for about 12 hours for me to make any mods and redo the PR then by all means fork off whats here.  If you can wait I will finish the coding.

[2018-04-13 14:16] sfdye commented on #634
@peterkline I can wait

[2018-04-14 03:29] sfdye commented on #543
@indrgun I agree. Would you like to make an PR? I am happy to review.

[2018-04-14 03:59] sfdye commented on #543
Relates #400

[2018-04-14 13:10] sfdye commented on #739
AFAK `pre-receive-hooks` is not supported currently

[2018-04-14 13:12] sfdye commented on #722
@lmazuel Any chance to work on the PR?

[2018-04-14 21:20] CapitanLiteral opened #751 "How can I delete all releases of a repository?"
I want to delete all releases but I dont know how to, I've been looking in docs but didint found how to.

Thanks.

[2018-04-15 04:57] sfdye commented on #751
Here you go
[code]

[2018-04-15 04:57] #751 closed

[2018-04-15 13:44] sfdye commented on #583
Sorry guys I don't have a Github enterprise that I can use to test. Anyone willing to make a PR I am more than happy to review. Meanwhile, will porting to `requests` solve this issue? See #664

[2018-04-16 14:37] allevin commented on #539
@sfdye It's been a while since I wrote this.  I don't recall all the details on this issue.  However the recommended change did correct the problem for me.

Also, BTW, thank you for all you are doing for PyGithub.  There has been tremendous progress on the project since you started addressing the issues and PR's!

[2018-04-16 14:43] sfdye commented on #539
@allevin Thank you for your comment, it made my day. BTW, we are in the middle of migrating to `requests` from `httplib`, after which the proxy related issues should be addressed automatically. (I hope)

[2018-04-16 14:54] allevin commented on #539
@sfdye Glad I could put a smile on your face!

I have been aware of the effort to move to requests.

One question/request.  Is there a way (or does it already exist) to implement a retry function in the low level communications?  I.e. if a request fails, that the PyGithub library could be setup to automatically retry after a user defined delay and with a limited number of retries?

Our network is

[2018-04-16 15:08] sfdye commented on #539
How about this:
http://docs.python-requests.org/en/latest/api/?highlight=max_retries#requests.adapters.HTTPAdapter

[2018-04-16 21:53] erinallard-infoscout commented on #321
@sfdye I'd like to jump in here and start the examples section. Like others have said above, PyGithub is a great resource but took me some time to figure out how to manipulate the Classes and methods for my use. Any preference for how to structure the Examples section? I'm thinking a simple Class-by-Class approach might be good, to mirror the docs themselves.

[2018-04-16 21:57] allardbrain commented on #321
@sfdye I'd like to jump in here and start the examples section. Like others have said above, PyGithub is a great resource but took me some time to figure out how to manipulate the Classes and methods for my use. Any preference for how to structure the Examples section? I'm thinking a simple Class-by-Class approach might be good, to mirror the docs themselves.

[2018-04-16 22:37] BarbourSmith commented on #321
This is still on my todo list too. Life keeps getting in the way, but I would love to help @allardbrain

[2018-04-16 22:54] erinallard-infoscout commented on #321
@BarbourSmith Great! Why don't we each give some thought to a few examples we'd like to create (so we don't work on the same things) and one or the other of us can create the `docs/example-usage.rst` file.

[2018-04-16 23:04] allardbrain commented on #321
@BarbourSmith Great! Let's each pick a few examples we'd like to start with so we don't overlap. Since my current personal project involves using the ContentFile class, I'll start there. Here's a link to my forked version which now has `doc/example-usage.rst` and some boilerplate.

[2018-04-16 23:42] BarbourSmith commented on #321
Great! It's going to be at least another week or two before I will really have time to dig in, but I'm mostly dealing with reading issues and comments and merging pull requests so it sounds like we'll have good coverage

[2018-04-17 03:53] allardbrain commented on #321
@sfdye Sounds good to me. Excited to work on this!

@BarbourSmith no problem.

[2018-04-17 04:31] sfdye commented on #539
@allevin Can you help me test the alpha release with `requests`. If anything goes well, we can consider adding the retry option.

`pip install --pre PyGithub==1.40a1`

[2018-04-17 06:40] meteozond commented on #742
@sfdye we've got the same issue with Python 3.6.4. What exact details are you interested in?

[code]

[code]

[code]

[2018-04-17 06:47] meteozond commented on #742
Looks like I've found solution myself. It suppose to be python installation issue.

If you are on macos, just run:

[code]

[2018-04-17 07:10] sfdye commented on #742
I am closing this.

[2018-04-17 07:10] #742 closed

[2018-04-17 10:27] #563 closed

[2018-04-17 13:28] foolip opened #756 "repo.get_teams() + team.get_members() doesn't work"
My script:
[code]

The "sight" comment is where there seems to be a bug. Iterating over wpt_repo.get_teams() directly yields the same 4 teams as this loop, but `team.get_members()` then fails like this:
[code]

[2018-04-17 14:14] allevin opened #757 "For the new "requests" communications engine, implement a developer controlled retry feature."
Reference comments in #539, conversation moved to this issue for discussion.

Request a feature to the new **_requests_** implementation for low level communications to implement a developer controlled retry feature when communication POST/GET fail.

The feature should allow the developer via a high level interface to control retry operations (number of retrys, time between retrys, etc.).

Our net

[2018-04-17 15:05] sfdye commented on #756
Sorry I don't have access to your org so I couldn't see what's wrong. But I just tried for my org and all the above methods worked. If it returns 404 then something genuinely does not exist.

It will be helpful it you can provide more context.

[2018-04-17 15:14] CapitanLiteral commented on #751
Sorry, but probably I'm missundertanding something. I want to delete tags too and I dont know how.

Thanks for your support.

[2018-04-17 15:54] foolip commented on #756
What kind of debugging can I enable to make this possible to diagnose?

[2018-04-17 15:58] sfdye commented on #756
Perhaps you can send a raw HTTP requests and see the response?
Like `GET /repos/:owner/:repo/teams`

https://developer.github.com/v3/repos/#list-teams

If raw requests returns you the same 404, then it's not a PyGithub issue anymore.

[2018-04-17 18:08] csidell-playq commented on #575
@sfdye Was this added or dropped?

[2018-04-17 22:43] timball commented on #715
this is very exciting thank you

[2018-04-18 01:02] sfdye commented on #575
@csidell-playq It was added in ca6fbc4

[2018-04-18 14:10] res0nance commented on #715
When I found out @jappievw was working on it I stopped work on mine.

[2018-04-18 14:11] jappievw commented on #715
Yeah, will process the feedback in the PR tonight!

[2018-04-18 20:02] SManral opened #759 "Update multiple files at once"
I tried using  update_file(path, message, content, sha, branch=github.GithubObject.NotSet, committer=github.GithubObject.NotSet, author=github.GithubObject.NotSet), to update a single file in a specific GitHub repo and it works just fine.
Is there a way I could similarly update multiple files at once?

[2018-04-19 02:00] #715 closed

[2018-04-19 02:05] sfdye commented on #759
I am afraid not, you have to do it one by one.

[2018-04-19 22:56] BarbourSmith commented on #321
I'm running into an issue while documenting the `PullRequest `class which is that a lot of the features that users will want when interacting with pull requests are ONLY available by using the `issue` class.

To read the comments on a pull request you need to open it as an issue instead of a pull request and access the comments that way. The `PullRequest` class has a comments attribute, but it is

[2018-04-19 23:05] sfdye commented on #321
@BarbourSmith Wouldn’t hurt, let’s start with that :)

[2018-04-19 23:40] BarbourSmith commented on #321
I opened #762 to start us off

[2018-04-20 04:59] wyardley commented on #634
Patch works for me, with the notes mentioned in the PR, that is, it would be a little more user-friendly if you can pass that array back rather than having to send it as `{'name': topics}`, so like so:
[code]
vs
[code]

[2018-04-20 06:04] s-t-e-v-e-n-k opened #764 "Pull Request requested reviewers can also be teams"
Since the black-cat API feature was released in May 9, the API methods also support requesting reviews from teams as well as individual users. There are two issues here:

Firstly, PullRequest.get_reviewer_requests() passes a list_item of 'users' in, which means any information under teams is not returned. If we drop that, it's an API break, since we will return a dict('users': PaginatedList, 'team

[2018-04-20 07:52] sfdye commented on #634
@wyardley suggestion accepted

[2018-04-20 12:54] glennmatthews commented on #583
Can confirm that for my github enterprise, `pip install --pre PyGithub==1.40a1` (as suggested in #664) resolves this issue for me. 👍

[2018-04-20 12:56] sfdye commented on #583
Nice! Can other confirm the same?

[2018-04-23 06:38] #589 closed

[2018-04-23 08:43] s-t-e-v-e-n-k commented on #558
I understand what is going on here. Since the code for create_pull() checks the number of arguments passed, not what they are, and that body is optional, the code should call the relevant method correctly based on which arguments are passed, not the count.

[2018-04-24 09:25] sfdye commented on #558
Is it? I thought there are two ways you can create a pull request, one is from head/title/base, the other is from an issue:

https://developer.github.com/v3/pulls/?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc#alternative-input

[2018-04-24 09:37] s-t-e-v-e-n-k commented on #558
Yes, exactly -- either title or issue is required, but if a title is passed the body is optional. Consider:

```repo.create_pull(title="New PR", base=foo, head=bar)```

That will call __create_pull_2 expecting an issue, when one is not provided.

[2018-04-24 15:26] time4tea opened #769 "Please handle unexpected response codes, particularly 302"
When using github enterprise, if the base_url is specified without the /api/v3 then very strange things happen, and it is hard to debug wht is happening.

What is happening is that a 302 page is being returned, which is full of HTML, and the library accepts this, returning various objects full of None.

[2018-04-24 16:58] mfonville commented on #693
This is a notorious problem on the side of GitHub (the AWS infrastructure regularly fails) and the same happens with e.g. GotHub/GitHub-Release (https://github.com/itchio/gothub)

Best would be if at least pygithub can handle this situation gracefully, and that we can give examples to users how to deal with the situation (recognizing a failed upload, removing an incomplete upload asset, retrying)

[2018-04-25 02:25] sfdye commented on #693
Oh I just saw your PR #768

[2018-04-25 07:12] hren-ron opened #770 "repo.stargazers_count and repo.watchers_count is the same number of stars"
I get the same number which is the number of stars from repo.stargazers_count and repo.watchers_count,  i    can't get the number of watchers. In the API of Github, we can get the number from the "subscribers_count‘’，but in PyGithub, i find there is not the function.

[2018-04-25 09:26] sfdye commented on #770
Which pygithub version are you using? I believe this attribute is in already in the master, so it should be available to you.

[2018-04-25 10:49] sfdye commented on #770
Yes, try latest stable version 1.39

[2018-04-25 16:55] OldPanda commented on #349
@p00j4 On my intuition, as for the operation of pull request, you should find a method in a file named like "pullrequest.py" instead of `GithubObject.py`

[2018-04-25 17:30] p00j4 commented on #349
thanks @OldPanda, yes had checked pullrequest.py as well, and hadn't find any update, however through re scan reveals probably "edit" is the method. Will try out and keep posted.
#Time to contribute to the documentation.

[2018-04-26 05:57] sfdye commented on #546
@swtch1 is this still an issue please?

[2018-04-26 06:09] sfdye commented on #769
I believe the correct format for `base_url` is `http(s)://hostname/api/v3/
`, why would you set it without the `api/v3`?

https://developer.github.com/v3/enterprise/#endpoint-urls

[2018-04-26 06:26] sfdye commented on #769
I agree, took me a while to find out as well. Good news is I now have a GHE instance to play with. Will improve the documentation on Github enterprise first 😀

[2018-04-26 06:36] sfdye commented on #769
Closed in #de6c2ec4e

[2018-04-26 06:36] #769 closed

[2018-04-26 06:46] #746 closed

[2018-04-26 06:53] sfdye commented on #746
Fixed in #758 thanks to @mikeage

Also release new version `1.40a3`, please let me know if this works for you.

[2018-04-26 06:54] sfdye commented on #770
Closing, feel free to re-open if still an issue.

[2018-04-26 06:54] #770 closed

[2018-04-26 06:57] sfdye commented on #583
Fixed in #758 thanks to the awesome `requests`.

Available NOW in version `1.40a3`:
`pip install pygithub --pre`

[2018-04-26 06:58] sfdye commented on #411
Added in de6c2ec4e2b939cdc24da9802cfab2704d32ad80

[2018-04-26 06:58] #411 closed

[2018-04-26 08:38] hren-ron commented on #770
I have solved it using the latest version

[2018-04-26 08:39] sfdye commented on #770
Good to hear

[2018-04-26 10:09] p00j4 commented on #349
yes *edit* is the function for Pull request.
https://github.com/PyGithub/PyGithub/pull/772

[2018-04-26 12:04] swtch1 commented on #546
Retested and confirmed.  This is working correctly now.  Thank you for following up.

[2018-04-26 12:04] #546 closed

[2018-04-27 05:29] s-t-e-v-e-n-k commented on #558
@sfdye I've pushed up two branches that show the problem, and also solve it in two different ways. They both have downsides and upsides, but I can't decide between them, so I've held off creating a pull request. I can do that once we have chosen a victor.

Allowing body to be optional: https://github.com/s-t-e-v-e-n-k/PyGithub/commit/2a915804984bb59ad244dbec1924853cfa93f5f7

Refactoring Repository

[2018-04-27 12:36] MichaelPavlov opened #773 "Iteration over get_commits() returns wrong object properties"
Here is a snippet
[code]

It prints out only first retrieved object's date. Shouldn't it print objects actual property?
[code]

[2018-04-27 17:46] BarbourSmith commented on #321
@allardbrain Have you had a chance to work on this any more? I'm looking for info on using the using the ContentFile class, even just one simple example would help me a lot.

This blog post also includes more examples which are useful:

https://chase-seibert.github.io/blog/2016/07/22/pygithub-examples.html

[2018-04-28 09:04] s-t-e-v-e-n-k commented on #443
The statistics API was implemented years ago -- first added in a4910ac922c12cd1e3ce58766ebda8780391aae4 and completed in c6671c64668d67018cc89b364887dd056a498277.

(The relevant methods are Repository.get_stats_*)

[2018-04-28 14:09] s-t-e-v-e-n-k commented on #622
<user>.contributions is no longer populated by GitHub, so it will always return None. There is a PR up to remove it.

user.StatsCommitActivity(total) doesn't look right at all, where in the docs did you find that example?

<repository>.get_stats_commit_activity() will return an iterable with the statistics for each user, and you can query .total on each.

[2018-04-30 02:12] #443 closed

[2018-04-30 02:47] sfdye commented on #773
It seems that the `last_modified` is retrieved from the response header as part of the caching header in stead of the response body. If you inspect the header, they are indeed the same.

[2018-04-30 09:37] MichaelPavlov commented on #773
But how can I get the value from response body in this case?

[2018-04-30 10:53] sfdye commented on #773
Try `commit.commit.author.date` or `commit.commit.committer.date`

[2018-04-30 12:36] s-t-e-v-e-n-k commented on #586
This is in fact a large mess. Repository.protect_branch() calls into an endpoint that has probably been removed, since GitHub blogged that it would be when Branch Protection graduated. I've been wondering why the API docs and the code are completely at odds with each other.

 I'm going to add a new method Repository.edit_branch_protection() to call the new endpoint with the new data structures, an

[2018-04-30 19:53] time4tea commented on #769
that was fast!

[2018-04-30 20:33] BarbourSmith opened #777 "Support for listing a user's repository invitations"
There does not seem to currently be support for listing a users currently open invitations to join a repository as described here:

https://developer.github.com/v3/repos/invitations/#list-invitations-for-a-repository

The invitation object exists:
http://pygithub.readthedocs.io/en/latest/github_objects/Invitation.html#github.Invitation.Invitation

and there is a method to accept an invitation:

ht

[2018-04-30 21:35] sarum9in opened #778 "GitReleaseAsset.uploader AttributError"
Affected version: 1.39.
Tested in multiple repositories, example below.

[code]

[2018-05-01 01:40] #778 closed

[2018-05-01 01:40] sfdye commented on #778
@sarum9in Thanks for reporting! Fixed now, will include it in the next release.

[2018-05-01 14:23] iliapolo opened #779 "Uploading assets to a release breaks the Repository object"
I am seeing some really strange behaviour after using the ``GitRelease`` object to upload an asset to a release.

Case in point:

[code]

Exception:

[code]

Worth mentioning that its not just the ``get_branch`` that breaks, every single method that needs to fetch something from Github fails with this error.

Also worth mentioning, is that sometimes, the exception is different:

[code]

This excep

[2018-05-01 14:44] gnogueira-daitan opened #780 "Wrong attribute during commits search"
Hi, I'm trying to search commits by:

[code]

The return of this function gives me a correct last_modified but when I try to access this property, None is returned.

How can I solve it?

[2018-05-01 14:47] iliapolo commented on #779
Forgot to mention my env:

Python 2.7.14
MacOS High Sierra
PyGithub 1.38

[2018-05-01 16:50] BarbourSmith commented on #321
That helps a ton. Thank you.

[2018-05-02 10:44] mfonville commented on #779
This is a known problem, see my PR #771 that will resolve this bug, it will be merged by the dev for next release

[2018-05-02 12:37] iliapolo commented on #779
Awesome

Thanks 👍

[2018-05-02 13:18] grayaii opened #781 "Two Factor: How Do I Use It?"
I have MFA enabled for my account.

g = Github("my_email", "my_password")
org = g.get_organization('my_org')
[code]

I have my phone with my 6 digits rotating number, but where do I put it?
Sorry for the silly question, but I'm just getting my feet wet with Two Factor Authentication.

[2018-05-02 13:28] grayaii commented on #781
OMG! Duh. I figured it out. lol.
In github, go to settings, then Developer Settings, then Personal Access Tokens.
Once generated, I can:
g = Github("token")
org = g.get_organization('my_org')

[2018-05-02 13:28] #781 closed

[2018-05-04 00:51] sfdye commented on #779
Yes, will try to get #771 merged soon.

[2018-05-04 00:52] sfdye commented on #780
Possible duplicate of #773

[2018-05-04 00:59] sfdye commented on #777
This would be awesome. If you have the time to put up a PR, I will be happy review.

[2018-05-04 01:00] sfdye commented on #773
@MichaelPavlov Does it work for you now?

[2018-05-04 01:02] sfdye commented on #756
Closing this for now. Feel free to re-open if still an issue.

[2018-05-04 01:02] #756 closed

[2018-05-04 01:05] sfdye commented on #634
Anyone care to get this thing moving? Topic is a stable feature now, I wanna make it happen!

[2018-05-04 07:05] MichaelPavlov commented on #773
Yes, property `commit.commit.commiter.date` gives correct result. Thank you. But you know if I take an element like `item = get_commits()[1]' in debugger and after evaluate `item.last_modified` it gives another date. Can you explain why this happens? Like result was updated in some cache and returned after that.

[2018-05-04 07:09] sfdye commented on #773
Probably because it's reflecting the `last-modified` attribute from the HTTP response [header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified)? which changes with your response. If you want use the fixed date when commit was made, use any of the two properties above.

[2018-05-04 07:28] MichaelPavlov commented on #773
But why it's necessary to call `item.update()` to get this header property correct value?

[2018-05-04 10:56] sfdye commented on #773
I am afraid I didn't get what you meant.

[2018-05-04 14:59] MichaelPavlov commented on #773
Maybe these prints would be more descriptive for you:

	from github import Github

	g = Github(token)
	repo = g.get_repo('PyGithub/PyGithub')
	commits = repo.get_commits()
	i = 5
	for commit in commits:
		print(commit.last_modified)
		i -= 1
		if i < 0:
			break

	Tue, 01 May 2018 01:40:08 GMT
	Tue, 01 May 2018 01:40:08 GMT
	Tue, 01 May 2018 01:40:08 GMT
	Tue, 01 May 2018 01:40:08 GMT
	Tue, 01 May

[2018-05-04 16:56] gnogueira-daitan commented on #780
In my case, the values exist but when I call it, it returns none. It is a weird behavior and probably related.

[2018-05-04 18:28] BarbourSmith commented on #777
Great, I'm going to close the issue because it's really more of a feature request and I will add this to my todo list.

Thanks!

[2018-05-04 18:28] #777 closed

[2018-05-08 23:59] shane-gearon-hs opened #786 "update_file doesn't add the trailing slash after contents"
The path variable should be preceded by a forward slash to create a valid url for the PUT call.

Steps to Reproduce:
github.get_repo("my_repo").update_file("README.md", "Updating readme.", base64.b64encode(content), sha)

Result:
https://github.com/api/v3/repos/my_repo/contentsREADME.md

Expected Result:
https://github.com/api/v3/repos/my_repo/contents/README.md

Looks like it's happening here.
ht

[2018-05-10 08:13] mfonville commented on #693
With PyGithub now using requests in the backend, the error has changed a little bit, and should be able to be caught by the developer if checking for HTTP status 502 in the GithubException.

[code]

If that happens, it is necessary to remove the partially uploaded asset before trying again; some example code:
[code]

[2018-05-10 19:09] JPWKU commented on #586
Hi folks, My patch is incomplete as yet but I thought it would be nice to have early feedback ^

[2018-05-11 02:07] s-t-e-v-e-n-k commented on #586
I've also been working on this, approaching it in a different way -- by adding the methods to Branch, and dropping Repository.protect_branch()

[2018-05-11 20:27] JPWKU commented on #586
@s-t-e-v-e-n-k ah I see that now.  Hmm don't want to duplicate work.  My intention was to keep the library api the same.  How do you want to go about it?

[2018-05-12 02:05] JPWKU commented on #586
@s-t-e-v-e-n-k no worries, since you've already got work in this area I'll close my PR and comment/help out on yours.

[2018-05-13 14:39] mfonville commented on #564
I think it could be done with a relatively simple modification in `__requestRaw` where currently a `301` redirect is handled, a similar line could be added to check for a `202`, wait a few moments, and then retry until no `202` is returned anymore.

[2018-05-14 18:05] mfonville commented on #564
I made a PR to fix this issue:
https://github.com/PyGithub/PyGithub/pull/791

[2018-05-15 19:34] YakDriver commented on #779
Would love to see this merged. Running into the same problem.

[2018-05-16 03:35] AsinRay commented on #472
I met the same problem. then I got here. Thank you!

[2018-05-16 07:52] mfonville commented on #693
An update, during my script I also got this one, a real http timeout:
[code]
So a `504` is also a http status to check for.

[2018-05-16 18:01] jhoblitt commented on #693
@mfonville I don't believe you are seeing the failure described at the root of this ticket as there would be no HTTP status code or json data with an error message.  Ultimately, the failure mode I see is a socket read error with both `1.39` and `1.40a3`, although the stack trace is different due to the changes with the plumbing.

`1.40a3`
---
[code]

[2018-05-16 18:29] Chrislevi opened #792 "create PullRequest between forked repo to original"
is there a method to create a pull request with the original repo as the base and a forked branch as the head?

I tried this line, but it threw a 'Validation Error'
`repo.create_pull("Title", "Body", '{}:{}'.format(original_repo, master), '{}:{}'.format(forked_user, feature), True)`

[2018-05-16 18:36] jhoblitt commented on #693
@sfdye It looks like the 10s default socket timeout, which I suspect is coming from `socket._GLOBAL_DEFAULT_TIMEOUT` (opaque object -- seems to hold no data) timeout is too short.  If I hack requests to force a 45s timeout, I can get to a more useful `github.GithubException.GithubException: 502 {'message': 'Server Error'}`.  Perhaps some sort of knob to allow end users to set a max read timeout wo

[2018-05-16 18:42] jhoblitt commented on #693
<facepalm/> It looks like the default is coming from `github.MainClass.DEFAULT_TIMEOUT`...

[2018-05-16 18:50] mfonville commented on #693
Here is a `npm` tool to make GitHub releases, and they also had to increase the timeout of their socket it seems: https://github.com/webpro/release-it/issues/50

I do understand btw that with the old plumbing there would be a socket-read error, because it is known that `httplib` is known not to be able to detect a closed socket (I read in other github-api projects with similar issues) when the Git

[2018-05-16 18:52] mfonville commented on #693
maybe specifying another DEFAULT_TIMEOUT for uploads.github.com might be also a good starting point

[2018-05-16 19:35] mfonville commented on #792
I think the way you wanted this, it's not possible when reading the API at https://developer.github.com/v3/pulls/#input for the `base` you can only pass a branch of the repository you are creating the PR on.

So you can only do:
[code]

[2018-05-16 19:36] jhoblitt commented on #693
Something seems fishy on the github head.  I enabled debugging and cut'n'pasted the team creationg JSON causing the HTTP 502 via `requests` into a file to test `POST`ing it with`curl`.  Initially, it seemed reliable if I used `application/x-www-form-urlencoded` instead of `application/json` but both are now failing.  Sometimes the team is created on the 502 and some times it is not.  I think I'm g

[2018-05-17 13:39] jhoblitt commented on #693
I sent a `bash/curl` minimal example to support along with some request IDs.  The explanation I received is that there is a hard 10s limit for API requests to complete.  I suspect this is from a middle/back end and there is a bit of latency added by the front end (and network delay product), which pushes the max time for a response to be slightly beyond the pygithub default of 10s. Support also sa

[2018-05-17 13:49] jhoblitt commented on #693
I've opened #793 to bump the default timeout to 15s.

[2018-05-17 18:16] lmazuel commented on #672
I personally uses your `github.tests.Framework` to record my own tooling that uses PyGithub. Since the way PyGithub is designed, it's incompatible with VCRPy:
https://github.com/kevin1024/vcrpy/issues/227

So I understand removing the tests themself and the recordings, but I feel like the Framework at least should still shipped to enable this scenario.

My two cents,

[2018-05-18 02:32] sfdye commented on #693
I am fine with increasing the default timeout to 15s. But we still need to handle the asset upload timeout right? Which is much higher than normal api.

[2018-05-18 02:50] sfdye commented on #672
@lmazuel Thanks for your input. I don't have much experience with vcr, do you think now that we are using requests, it's feasible to migrate the whole testing framework to vcr? So that I feel writing new tests will become much, much easier.

[2018-05-18 02:52] #792 closed

[2018-05-18 04:00] sfdye commented on #786
It seems for some historical reasons, the path has to include the `/` (although it's contradictory to the API). Also you don't need to encode the content, this library does it for you.

So this:
`github.get_repo("my_repo").update_file("/README.md", "Updating readme.", content, sha)` should work.

[2018-05-18 08:27] mfonville commented on #693
Today I hit the broken pipe during upload:

[code]

[2018-05-18 08:48] time4tea opened #796 "stack overflow for Team.description"
Missing `_` means stack overflow as property accessor calls itself indefinitely.

Should be `self._description.value` I suspect.

Due to client open source policy I cannot submit a PR.

Team.py
[code]

[2018-05-18 11:14] mfonville commented on #796
Seems indeed a trivial typo, made a PR for it.

[2018-05-18 11:37] mfonville commented on #786
I think it might be practical to harden PyGithub a bit, and try to detect if a `path` value starts with a `/`, and either reject any input that does not start with a `/` or to add it to the start of the string internally within PyGithub.

[2018-05-18 11:42] mfonville commented on #693
I think the asset timeout might also benefit from the 15 seconds, because as far as I know the server (often?) sends a response when it is closing the connection. I hopefully assume that during the upload, while it still having success, it would use a method to keep it alive and not letting the 10 second time-out kick in; and that maybe that response was also just outside the 10 second window.

In

[2018-05-18 14:15] YakDriver opened #798 "NEW Project using PyGithub: Satsuki"
Satsuki (pronounced SAHT-ski) is a Python package that helps manage GitHub releases and release assets. Satsuki is especially useful paired with Continuous Integration/Continuous Deployment (CI/CD) tools such as Travis CI and AppVeyor.

[Satsuki GitHub](https://github.com/YakDriver/satsuki)
[Satsuki PyPI](https://pypi.org/project/satsuki/)

[2018-05-18 17:51] lmazuel commented on #672
@sfdye I'm pretty sure it's possible. The only drawback I know with VCRPy, it's not thread-friendly if you want to parallelize tests (it uses mock to replace the `HTTPSRequestsConnectionClass` statically). But your current Framework has the same issue anyway, since you replace a class attribute `__httpsConnectionClass `
I try to do a proof-of-concept and link the PR here. I can't commit to any dat

[2018-05-18 17:59] erinallard-infoscout commented on #321
@vipulgupta2048 Yes, @BarbourSmith and I are working on some! Hopefully @sfdye can review and merge them soon. In the mean time, you can reference the pending PR [here](https://github.com/PyGithub/PyGithub/pull/762/files). Feel free to reach out if there's something I can help with.

[2018-05-20 19:27] zkurtz opened #800 "`pip install pygithub` failing"
The command runs with no warnings, but `import github` subsequently complains that there is no such module.

By contrast, cloning and installing as `python setup.py develop` works fine. But it would be nice to be able to skip the cloning step.

I'm on OSX 10.13.04.

[2018-05-21 02:31] sfdye commented on #796
Thanks @time4tea for reporting and @mfonville for fixing it!

[2018-05-21 02:32] #796 closed

[2018-05-21 02:35] sfdye commented on #672
@lmazuel That will be awesome. Waiting for your PR 😝

[2018-05-21 02:44] sfdye commented on #693
Released `1.40a4` containing fix from #793

Please have a try and let me know how it works out.

[2018-05-21 02:49] sfdye commented on #583
Marking it as resolved for now.

[2018-05-21 02:49] #583 closed

[2018-05-21 08:39] p00j4 commented on #321
I'm adding my examples in this [Pull Reuest](https://github.com/PyGithub/PyGithub/pull/772/files#diff-08a899baa39d1ee2d988828dec8205fb), would like to know, where to add them, as  examples/pullrequest.rst structure is still not in this repository.
Can we have a branch out where the skelenton is started and all contributors work from that branch and when its looks in shape, we can again raise to th

[2018-05-21 10:16] sfdye commented on #321
@p00j4 Commented on #762 and let's use that thread to discuss.

[2018-05-22 00:16] prburgu commented on #586
@s-t-e-v-e-n-k Do you plan to merge this soon? I'm in need of this functionality.

[2018-05-22 00:50] s-t-e-v-e-n-k commented on #586
@prburgu It isn't up to me when it merges. @JPWKU when do you have some time to continue reviewing the attached PR?

[2018-05-22 14:01] JPWKU commented on #586
@prburgu @s-t-e-v-e-n-k I'm gonna try to carve out time today or this evening to finish the review.

[2018-05-24 04:07] mkj28 opened #802 "search_issues: I am having issues with query parameters"
This works:
`curl -G -H "Authorization: token myToken" https://api.github.com/search/issues?q=repo:myOrg/myPrivateRepo+is:closed`

But when I do this:
[code]

I get: `'The listed users and repositories cannot be searched either because the resources do not exist or you do not have permission to view them.'`

[2018-05-24 04:15] mkj28 commented on #802
Ugh... ok have to use <space> as separator:
`g.search_issues('repo:myOrg/myPrivateRepo is:closed'`

[2018-05-24 08:03] mfonville commented on #757
Indeed a controlled retry would be very welcome. Today I hit on the Github API (without any proxy or such) a 502 error on a trivial operation, but it would be ridiculous to try to catch those for literally API command I execute in my program:

[code]

[2018-05-24 10:12] mfonville commented on #757
See https://github.com/PyGithub/PyGithub/pull/803 to at least cover the retries on commands that failed on Github's side

[2018-05-24 12:35] ahmad88me opened #804 "any plans for version 4?"
Hello Guys,
    Are you planning to support version 4 of GitHub APIs? I would like to contribute in the development if so.

Thanks,

[2018-05-24 14:18] iliapolo commented on #432
@sfdye I recently wrote a library that also relies heavily on PyGithub.

I took the time to learn the testing framework and extracted an isolated class that can be used to record and replay. I specifically use it inside py.test suites, not unittest.

Is it possible for me to release such a class as a library on PyPI? I mean license wise. And if so, would you like to have a look?

@jakirkham fyi

[2018-05-24 23:10] MattAlp opened #805 "Search repository by label?"
I currently have some code where a set of label strings is stored in a Python list, and a Repository object obtained through the `search_repositories` method of the `github` object; the method `repo.get_issues()` specifies that a list of `Label `objects can be passed in to limit the issues that come up.

After some searching, I have not found a way to create a Label object from a desired string, a

[2018-05-25 03:30] sfdye commented on #432
@iliapolo I did not author the original test framework, but I guess that should be fine, since PyGithub is LGPL.

[2018-05-25 03:33] sfdye commented on #804
Version 4 is GraphQL if I am not wrong. This library is only for v3 which is REST API. If you want to contribute to v4, I suggest you look for a GraphQL library instead.

[2018-05-25 04:07] sfdye commented on #805
Maybe use the `repo.get_label()`?

something like this:
[code]

[2018-05-26 16:42] MattAlp commented on #805
This is perfect, thank you!

[2018-05-26 16:42] #805 closed

[2018-05-28 19:48] Jonas-Carvalho opened #806 "t api"

[2018-05-28 19:48] #806 closed

[2018-05-29 14:30] jpmartins201 opened #808 "Timeout exception in request for Issues (created and closed) from a Repository"
Trying to receive the number of issues from a repository but the operation fails because the timeout limit was exceeded. No problems with my internet connection, the repository has 50+ issues. Any ideas?

[2018-05-30 11:52] vipulgupta2048 commented on #140
Hi, how would one go about find directories? I just need to find if the directory exist in the repo or not

[2018-05-31 17:30] YakDriver commented on #804
Note that the GraphQL API (v4) is still very basic with almost no important mutators. The type of functionality that PyGithub provides could not be done with pure v4 yet. Here are examples of mutations that aren't available:

- Create/edit/delete repositories
- Create/edit/delete releases
- Create/update/merge pull requests
- Create tags
- Create files/blobs

https://stackoverflow.com/questions/49

[2018-05-31 17:53] YakDriver commented on #779
The workaround I use for this is pretty easy. Here's the pseudocode (from [Satsuki](https://github.com/YakDriver/satsuki)):
`try:
  release_asset = release.upload_asset (
    path,
    **args
  )
except Exception as e:
  error = e
finally:
  gh = github.Github(...)
  repo = gh.get_repo(...)
  release = repo.get_release(...)

# see if e is an actual error, usually it's not
`

[2018-06-01 02:49] #804 closed

[2018-06-01 02:51] sfdye commented on #808
Can you post the code example and detailed error message?

[2018-06-05 13:54] StrikeNP opened #810 "Recieving False ErrCode 403 "Rate Limit Exceeded""
When attempting to use the api to upload a number of comments to GitHub issues, I received the following Exception
`github.GithubException.GithubException: 403 {u'documentation_url': u'https://developer.github.com/v3/#abuse-rate-limits', u'message': u'You have triggered an abuse detection mechanism and have been temporarily blocked from content creation. Please retry your request again later.'}`
H

[2018-06-05 16:01] StrikeNP commented on #810
Hmm, I have a `sleep(1)` command running before each of my API calls, and would have thought that this would be enough. I'll try easing the reigns on the script even more, it's just not ideal as now it'll take an ungodly long time to run... since it's importing 20 years of Trac tickets over to GitHub issues (originally at 1 API call/ sec).

Thanks for the reply

[2018-06-05 16:20] eamanu commented on #800
what is the version of  your pip?

[2018-06-05 18:29] #810 closed

[2018-06-06 10:20] Aerlinger commented on #808
I'm having a very similar issue.

Sample code:

[code]

Error w/ stack trace:

[code]

[2018-06-07 01:56] jpmartins201 opened #811 "Project using pygithub - Cardinals"
https://github.com/fga-gpp-mds/2018.1-Cardinals - a website that shows metrics for any public repository (issues, commits, pull requests etc)

[2018-06-07 02:19] sfdye commented on #808
What version of PyGithub are you guys using?

[2018-06-07 02:53] sfdye commented on #811
@jpmartins201 Hi thanks, it will be easier if you can make a PR.

[2018-06-07 14:59] silburt opened #812 "Get topics of a repo?"
Is there a way to get a list of topics associated with a given github repo? From here - https://pygithub.readthedocs.io/en/latest/apis.html - it doesn't seem like there's an API for that. For example, in one of my own repos - https://github.com/silburt/DeepMoon - how would I obtain:
"convnet
tensorflow
moon
deep
learning
astrophysics
keras"

Thanks very much,

Ari

[2018-06-08 01:20] sfdye commented on #812
See #635

[2018-06-08 09:52] webknjaz commented on #725
FTR
I've made a CLI for GitHub Checks API recently (https://pypi.org/p/check-in) and here's how I handle this:
https://github.com/webknjaz/check-in/blob/master/check_in/github_api.py#L18

[2018-06-08 09:58] webknjaz opened #813 "[FR] Checks API integration"
The lib is missing Checks API. If someone is up to implementing wrappers for it, I've got some example code.

I wrote a CLI for this API https://pypi.org/p/check-in and here's how I hack around missing methods (+custom Accept header):
https://github.com/webknjaz/check-in/blob/4d11a0a/check_in/github_api.py#L35-L65

[2018-06-08 11:58] webknjaz commented on #811
@sfdye I think the doc should be changed to encourage users to create PRs instead of issues, then.

[2018-06-08 13:52] sfdye commented on #811
You are right, will fix that ;)

________________________________
From: Sviatoslav Sydorenko <notifications@github.com>
Sent: Friday, June 8, 2018 7:59:08 PM
To: PyGithub/PyGithub
Cc: Wan Liuyang; Mention
Subject: Re: [PyGithub/PyGithub] Project using pygithub - Cardinals (#811)

@sfdye<https://github.com/sfdye> I think the doc should be changed to encourage users to create PRs instead of issues,

[2018-06-08 16:45] webknjaz commented on #811
btw, I've followed this suggestion from the beginning --> #814

[2018-06-10 03:36] zkurtz commented on #800
Must have been old. Everything is working now.

[2018-06-10 03:36] #800 closed

[2018-06-11 19:55] bvsriram opened #817 "Unable to list issues passing milestone as parameter"
Trying to get issues assigned to a milestone but says

[code]

Here's what I have now
[code]

I am passing the milestone name into param1. If i `print(param1)` after def it shows the milestone name but doesn't pass it to get_issues()

Tried whats mentioned in #683 but didn't work. Any suggestions?

[2018-06-12 03:38] sfdye commented on #811
Closed in #815

[2018-06-12 03:38] #811 closed

[2018-06-12 16:54] webknjaz opened #818 "[FR] Migration API integration"
The lib is missing Migration API. It also requires custom `Accept: ` header.
* https://developer.github.com/changes/2018-05-24-user-migration-api/
* https://developer.github.com/v3/migrations/users/
* https://developer.github.com/v3/migrations/orgs/

[2018-06-12 17:02] ChiKenNeg commented on #579
Is there any progress with this?

[2018-06-12 17:06] SylvainDe commented on #579
So far, I am just waiting for the opinion of the project owners before going any further.

@sfdye Do you reckon this is a valid issue that one could start working on ? I will not have much time in the next days but I guess this is not a critical/urgent issue.

[2018-06-13 14:15] jglapa opened #819 "Delete release operation missing"
Could this be added?

Side note:
It might seem odd to remove a release but I'm backfiling releases in an old project and realized that I did it incorrectly and now have to cleanup.

[2018-06-14 21:34] mfonville commented on #819
I think this should work, did you check if you can call `delete_release()` on a release?
https://github.com/PyGithub/PyGithub/blob/master/github/GitRelease.py#L168

[2018-06-15 07:21] jglapa commented on #819
true, I couldn't find that method in the reference : https://pygithub.readthedocs.io/en/latest/github_objects/GitRelease.html#github.GitRelease.GitRelease

[2018-06-15 07:37] mfonville commented on #819
I think the reference misses a lot of about the functions of GitRelease; if you or anyone would have time to update those docs, that'd be great

[2018-06-19 01:20] jpmartins201 commented on #808
@sfdye it would be great if you could try and solve this problem, we are running out of time in a course from college - our project needs to be done due to the end of this semester - and this issue is stopping us a lot.

[2018-06-19 02:36] sfdye commented on #808
Can you guys try the latest alpha version? see if it can solve the problem

pip install --pre --upgrade PyGithub

[2018-06-19 02:38] sfdye commented on #819
Indeed, a lot of documentation are missing.

[2018-06-19 02:38] #819 closed

[2018-06-19 03:03] sfdye commented on #579
see #820

[2018-06-19 03:32] sfdye commented on #817
@bvsriram Sorry could not understand your issue, could you elaborate a bit more? more complete example if possible

[2018-06-19 13:42] SylvainDe commented on #579
https://github.com/PyGithub/PyGithub/issues/415 / https://github.com/PyGithub/PyGithub/issues/487

[2018-06-19 15:46] eamanu opened #822 "Requires authentication problem on Test"
Hello everybody,

I am creating a test case for the PR #809
To do this, I created the GithubCredential.py the login and password variables with my user and password data.

Then I run:
_python -m github.tests PullRequest.testReviewDismiss --record_

But I have this error:
[code]

What I am doing wrong?
Thanks!
Regards

[2018-06-19 22:39] ghost opened #823 "Add support for pending team invitations"
Per the [docs](https://developer.github.com/v3/teams/members/#list-pending-team-invitations), it's just the following call:

[code]

As mentioned in a blog [post](https://developer.github.com/changes/2018-01-25-organization-invitation-api-preview/) earlier this year, there are two new fields added to the response:

- team_count
- invitation_teams_url

These new fields only appear in the response i

[2018-06-19 22:39] tjboring commented on #823
I'm happy to pick this up and work on it.

[2018-06-20 02:20] sfdye commented on #822
It's probably related to #795 and this [comment](https://github.com/PyGithub/PyGithub/pull/664#issuecomment-389964369)

[2018-06-20 17:43] bbi-yggy commented on #656
@sfdye is correct - token-based authentication works in conjunction with 2FA. Go to your GitHub profile, select Developer Settings on the left, then click Personal Access Tokens. You can generate a token and then use it in place of the password when connecting to the API.
https://github.com/settings/tokens

[2018-06-20 18:12] bbi-yggy commented on #553
I'm experiencing a problem where my iteration over the results from search_issues stops after 1020 results when there should be 1869 results. My script stops at the same point every time. Could this be a rate-limiting issue?

I do not get an error, the results just run out. If I put my query string directly into the GitHub web interface then I see all 1869 results, as expected.  1020 is a multiple

[2018-06-20 18:16] bbi-yggy commented on #362
The `search_issues` method supports `sort` and `order` parameters, perhaps that would meet your needs?

[2018-06-20 18:18] bbi-yggy commented on #356
You can also use the `as_pull_request()` method of the [issue class](https://pygithub.readthedocs.io/en/latest/github_objects/Issue.html), which lets you use the same object through either interface.

[2018-06-20 18:31] bbi-yggy commented on #553
I also tried iterating through `issues.reversed` to see if it would start at the end of my expected 1869 results. However in this case I only get 30 issues, from the first page of results.

[2018-06-21 00:48] bbi-yggy opened #824 "There is a limit of 1000 results per search."
The GitHub API [limits searches to 1000 results](https://developer.github.com/v3/search/#about-the-search-api). This limit affects searches performed via PyGitHub, such as [GitHub.search_issues](https://pygithub.readthedocs.io/en/latest/github.html?highlight=search_issues).

It seems there is no indication that your search has hit this limit - there is no exception or error that I am aware of. Per

[2018-06-21 00:51] bbi-yggy commented on #824
Here is a workaround demonstrating how to retrieve all pull requests in a range of dates, even if there are more than 1000 results:
[code]
With this class, you can now do this sort of thing:
[code]

[2018-06-22 00:51] #656 closed

[2018-06-22 00:52] #362 closed

[2018-06-22 02:51] sfdye commented on #553
What about we provide one more method `get_search_rate_limit()` for the search rate limit while the existing `get_rate_limit()` will parse the latest "resource" suggested by Github: https://developer.github.com/v3/rate_limit/

[2018-06-22 06:58] goutham9032 opened #825 "How to get both closed and opened issues at a time"
i am working on an project which requires all the opened and closed issues, but the current version works for only opened issues.

[2018-06-22 08:33] sfdye commented on #493
I suspect this is not due to rate limit but rather a duplicate of #564. Github calculates this stats on demand so we need to wait for some time for it to finish. #791 should resolve it.

[2018-06-22 08:37] #539 closed

[2018-06-22 08:48] sfdye commented on #825
repo.get_issue(state="closed") # or state="all" to return both

By default it will only return open issues.

https://developer.github.com/v3/issues/#list-issues-for-a-repository

[2018-06-22 08:48] #825 closed

[2018-06-22 08:54] #564 closed

[2018-06-22 08:56] sfdye commented on #493
Closing as #791 is merged.

[2018-06-22 08:56] #493 closed

[2018-06-22 12:10] mfonville commented on #824
Reading the Github API docs about search, I also notice that `incomplete_results` is missing as part of the search-results processin in PyGithub. Probably including that value might also already help out with detecting if search results might be (in)complete.

[2018-06-23 03:31] sfdye commented on #822
Now that #795 is merged. Can you try again with the latest master?

[2018-06-23 17:04] jpmartins201 opened #826 "Error 404 for File.srt and ContentFile.srt"
I was trying to edit the http://pygithub.readthedocs.io/en/latest/github_objects/File.html and http://pygithub.readthedocs.io/en/latest/github_objects/ContentFile.html but it says there isn't these files in this repository.

[2018-06-25 01:59] sfdye commented on #826
If you see the sphinx configuration:
https://github.com/PyGithub/PyGithub/blob/faa8f2057021e10139ed2f6700830158f5a4a4c1/doc/conf.py#L285

The `github_objects.rst` is dynamically computed rather than placed on the the directory itself. That's why you couldn't find it on Github.

[2018-06-25 04:41] jpmartins201 commented on #826
Thank you, but how can I contribute to this part of the docs? (sorry for the dumb question, but it's unclear to me)

[2018-06-25 04:42] sfdye commented on #826
Where do you wanna change? Just modify the python docs and it will be reflected in the next master build.

[2018-06-25 04:48] sfdye commented on #826
You will want to learn about how sphinx works.

[2018-06-25 05:45] sfdye commented on #826
The File class is meant for files in a pull request of commits, e.g.:
https://developer.github.com/v3/pulls/#list-pull-requests-files

It's more like an intermediate resource which I don't think Github has any specific section in the documentation.

For the first question, if you look at the source code of `Repository.py`, `get_contents` method is actually just calling `get_file_contents` inside.

[2018-06-25 06:32] nurupo commented on #779
Should be resolved by https://github.com/PyGithub/PyGithub/pull/771 being merged?

[2018-06-25 06:35] jpmartins201 commented on #826
Everything makes sense now. We were using these 2 functions and never understood why they were doing the same thing. Thank you for the answers, I'll make the PR until tomorrow.

[2018-06-25 06:36] #826 closed

[2018-06-25 06:36] sfdye commented on #779
Yes

________________________________
From: nurupo <notifications@github.com>
Sent: Monday, June 25, 2018 2:32:26 PM
To: PyGithub/PyGithub
Cc: Wan Liuyang; Comment
Subject: Re: [PyGithub/PyGithub] Uploading assets to a release breaks the Repository object (#779)

Should be resolved by #771<https://github.com/PyGithub/PyGithub/pull/771> being merged?

—
You are receiving this because you commented.

[2018-06-25 06:45] sfdye commented on #779
It should be fixed by #771 . Can you guys try the the master? I will probably cut a release soon.

[2018-06-25 12:04] eamanu commented on #822
Ready!, I don't have the problem. I will continue working in the testcases.
Regards!
Thanks!

[2018-06-25 12:04] #822 closed

[2018-06-25 16:05] jpmartins201 commented on #808
This version made the requisitions a bit faster but it's still slow compared to the expected for a website.

[2018-06-26 00:49] sfdye commented on #693
Feel free to re-open if still an issue.

[2018-06-26 00:49] #693 closed

[2018-06-26 10:29] AdyaAbhra opened #828 "Support for github apps"
I am trying to perform oauth using my github app and then read authenticated users repository and organization. However for queries related to "list installations for user", "list repositories accessible to the user for installation" and many other endpoints, I am not able to get the pygithub apis for the same.

ref link : http://pygithub.readthedocs.io/en/latest/apis.html

PS. Previously I was us

[2018-06-27 10:17] iliapolo commented on #779
@sfdye on it

[2018-06-27 11:15] iliapolo commented on #779
@sfdye looks good 👍 , thanks!

BTW, im not sure how you cut releases, but you can have a look at a tool I wrote specifically for managing releases for Python projects hosted on GIthub. Its called [pyci](https://github.com/iliapolo/pyci), maybe you can benefit from it... (Sorry for the shameless plug, but it seemed appropriate :))

[2018-06-27 13:21] sfdye commented on #779
@iliapolo Cool, will take a look.

[2018-06-27 13:21] #779 closed

[2018-06-28 15:02] J-Ragone opened #829 "NamedUser.get_repos() returning 403"
I'm using the [Github-Flask](http://github-flask.readthedocs.io/en/latest/) and [PyGithub](https://pygithub.readthedocs.io/en/latest/index.html) libraries to write a GitHub app in Python. The issue that I am facing is I cannot get [PyGitHub's simple tutorial code](https://pygithub.readthedocs.io/en/latest/introduction.html) to run correctly. I will paste my code below.

[code]

I have replaced `US

[2018-06-28 21:02] dude051 opened #830 "Latest release v1.40 has broken get_archive_link"
Since the push of v1.40 and change to requests for HTTP instead of httplib, it has broken the get_archive_link method.

Simple Test:
[code]

Returns the error:
[code]

A quick debug reveals that the requests library is following the request from `GET /repos/:owner/:repo/:archive_format/:ref`, so instead of returning the header info with an expected location, it returns the actual archive zip file:

[2018-06-29 04:18] sfdye commented on #829
This seems to be a Github issue, not a PyGithub issue. If the issue persists, you may wanna contact Github support.

[2018-06-29 07:17] mfonville commented on #830
It seems an easy fix. I am not sure if we would introduce bugs in other places that rely on automatic redirection. Though we already do our own redirect for `301` at https://github.com/PyGithub/PyGithub/blob/master/github/Requester.py#L411 but I don't see `302`s handled anywhere.

After reading GitHub's API-documentation, where they indeed literally specify that the 'data' it will return is a head

[2018-06-29 09:56] mikeage commented on #830
I'd be surprised if we rely on automatic redirection given that httplib didn't do it.

I think adding `allow_redirects=False` is definitely the quickest fix. I'm not sure about `requestJsonAndCheck` vs `requestHeaderAndCheck`; it sounds logical, but I'd want to review a lot more of the code before I committed myself to that answer.

[2018-06-29 10:07] sfdye commented on #830
FYI 302 is handled in a few places, like:

https://github.com/PyGithub/PyGithub/blob/d897e86aa9aa6469971b3e2201ead39cf1aebb62/github/Organization.py#L774
and
https://github.com/PyGithub/PyGithub/blob/d897e86aa9aa6469971b3e2201ead39cf1aebb62/github/Repository.py#L1582

I am thinking since we are trying to mimic httplib with requests, setting `allow_redirects=False` should have the minimal impact on

[2018-06-29 10:57] mfonville commented on #830
Thanks for pointing to the `302`s. Mimicking httplib then with `allow_redirects=False` is indeed the way to go with the current codebase.

We just have to keep an eye we're not painting ourselves in a corner with over-instructing Requests. Because for a better implementation of #803 and some of the issues reported on proxies, shaky connections etc, the best way ahead is to allow passing of a Reque

[2018-06-29 14:59] mikeage commented on #830
Also, for your consideration: mimicking httplib made this an easy drop in replacement, but long term (and I know this depends more on the testing framework than anything else), is that the right direction? The basic requests API is much easier than sticking to httplib, IMHO.

[2018-06-30 00:12] binooetomo opened #831 "create_issue triger github to send notification twice"
Dear All.

I have a hipchat room that monitor a github repo issue.

when I create an issue via github webUI, the room will receive 'opened issue' nottificatio.

But when I try to create issue using pygithub.create_issue  , the room will receive 2 notification in sequence:
1. 'edited issue', followed with
2. 'opened issue'

Is it standard?

note : Sorry I can't give any proof since github issue tra

[2018-06-30 09:41] mloskot commented on #332
For those who search through the issues archives:
 *ResourceWarning: unclosed socket.socket when I run a unittest*, https://github.com/requests/requests/issues/3912

[2018-07-02 10:07] sfdye commented on #831
It shouldn't. I assume check your repository webhook history, whether there are two entries matching `edited issue` followed by `opened issue`?

BTW, you can add screenshot, simply copy the image and paste in the the reply textarea.

[2018-07-05 08:59] #733 closed

[2018-07-05 09:05] mloskot commented on #640
@peterkline Thanks, and the stale bot too :)

[2018-07-05 14:51] jakirkham commented on #487
This a bug people are seeing. Why is it being ignored and marked as stale?

[2018-07-05 18:43] rpocase commented on #605
This seems to be available in the latest documentation.

[2018-07-05 18:43] #605 closed

[2018-07-05 19:06] wyardley commented on #634
I'm proposing #832, which resolves the test failure, and I think resolves most of this feedback? It also switches the input to `replace_topics()` to the expected array as discussed. Would appreciate feedback, esp. on the test case I added.

[2018-07-06 02:31] sfdye commented on #487
@jakirkham please understand this is just stale bot's default behavior to mark issues > 2 months old as stale, will remove the label if it's still an issue.

[2018-07-06 03:10] sfdye commented on #634
Merged in #832 thanks to @wyardley and credits to @peterkline for the original PR 🎉

[2018-07-06 03:10] #634 closed

[2018-07-06 05:49] jakirkham commented on #487
Have noticed this bot popping up in more issues on different repos. Thus far have seen it cause more than a few undesirable interactions. Namely closing issues that have not gotten attention from the project's core developer team (often simply because they are busy, which is ok). As a user interested in an OSS project's improvement, I find the bot's behavior in these cases discouraging. FWIW it se

[2018-07-06 06:00] sfdye commented on #487
@jakirkham Thanks for sharing this. Going back to the issue itself, please see the latest development #820, as we are trying to fix this.

[2018-07-07 03:06] nurupo opened #833 "Allow updating tag_name and target_commitish of GitRelease"
GitHub API [allows updating](https://developer.github.com/v3/repos/releases/#edit-a-release) `tag_name` and `target_commitish` of a release, among `name`, `body`, `draft` and `prerelease`, but PyGithub API wrapper allows updating all of them but  `tag_name` and `target_commitish`:

https://github.com/PyGithub/PyGithub/blob/e389396405146bb1b0c4587de1f6f757a9514a43/github/GitRelease.py#L178-L199

Co

[2018-07-07 12:22] PhilipMay opened #835 "Repository.get_issues() only loads state = open issues"
Hi,
I am loading repositories with `github.get_repo(repo_name, lazy=False)`. Then I load the issues of that repository with `get_issues()`. I did that many times and only get issues with the state of "open".

When I use `get_issues(state="closed")` I only get closed issues.

From my point of view this is a bug because `get_issues()` without parameter should also get closed issues, not just open. M

[2018-07-07 19:09] PhilipMay commented on #835
Yes - I just saw that state = "open" is default. See here:
https://developer.github.com/v3/issues/#list-issues-for-a-repository

I suggest to set this here too:
https://github.com/PyGithub/PyGithub/blob/master/github/Repository.py#L1788
`def get_issues(self, milestone=github.GithubObject.NotSet, state='open', assignee=github.GithubObject.NotSet, mentioned=github.GithubObject.NotSet, labels=github.

[2018-07-08 02:34] sfdye commented on #835
IMO, the default behavior is what Github returns when you don't provide anything, say the `state` parameter. We don't want to hard-code it in the method definition. For example, if Github changes this default behavior to return `all` issues, then this function will break. What do you think?

[2018-07-08 02:45] sfdye commented on #487
Fixed in #820

[2018-07-08 02:45] #487 closed

[2018-07-08 02:45] sfdye commented on #415
Fixed in #820

[2018-07-08 02:45] #415 closed

[2018-07-08 02:54] sfdye commented on #319
This should be fixed in #820

[2018-07-08 02:54] #319 closed

[2018-07-08 02:54] #640 closed

[2018-07-08 03:41] sfdye commented on #579
Good news, this is done with the help of #820

[2018-07-08 18:04] tshrove opened #836 "repository.get_issues() since parameter doesn't seem to work."
Using this code in python below:

[code]

I should in my mind get all issues created since 1/1/2018. But instead, I get issues way past 1/1/2018. I think the since parameter is not working or I don't understand the reason for the since parameter.

[2018-07-09 01:51] sfdye commented on #836
https://developer.github.com/v3/issues/#list-issues

since should be a string in the format of YYYY-MM-DDTHH:MM:SSZ.

[2018-07-09 11:23] mfonville commented on #836
This is then broken in the PyGithub docs: https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html?highlight=get_issues

There it states `since – datetime.datetime`, I guess we could replace with with e.g. `since – datetime.datetime.isoformat()` optionally with `timespec='seconds'` added if Github is as strict as their API documentation seems to imply.

[2018-07-09 12:39] tshrove commented on #836
I used a datetime object for the since. It would not let me use a string.

[2018-07-09 13:31] mfonville commented on #836
After checking the source code I do indeed see that it expects a `datetime` object.
And in https://github.com/PyGithub/PyGithub/blob/master/github/Repository.py#L1833 it converted from datetime to correct string format. So I don't know why it doesn't work

[2018-07-09 14:21] tshrove commented on #836
Did someone else verify (besides me) that it doesn't work?

[2018-07-10 00:54] tshrove commented on #836
@mfonville Could it be that the github api is not working correctly?

[2018-07-10 01:48] tshrove commented on #836
Other libraries are doing the same thing. I think the "since" object might be on the updated_at field instead of the created_at field.

[2018-07-10 01:50] tshrove commented on #836
Yelp. Found it in the github api documentation.

[2018-07-10 01:50] #836 closed

[2018-07-10 02:38] sfdye commented on #579
Unfortunately I have to re-open (reverted in 8a589c9d735eb815610aa0910cccc61f1842314a) this as this are some issues with the tests. Will definitely revisit and re-implement this later.

[2018-07-10 14:58] #833 closed

[2018-07-10 17:46] PhilipMay commented on #835
Well. You are right. When Github would change the default behavior you would have to change your default too. But you only would have to do that when you want to do the same as Github.
From my point of view it would be logical to load "all" issues by default. So you could just provide "all" as default and give a hint about this in the api documentation. Noone forces you to do exactly the same as G

[2018-07-10 20:29] sechastain opened #840 "Add archival support for Repository.edit"
In November 2017, github added the ability to archive a repository via the edit REST API

https://developer.github.com/changes/2017-11-08-archiving-repositories/

The change looks to be relatively simple - I'm just a little hung up on generating the replay file

[2018-07-11 00:35] wyardley commented on #812
FYI, this is now merged via #832

[2018-07-11 00:43] #812 closed

[2018-07-11 00:54] sfdye commented on #840
This will be useful! How can I help？

[2018-07-11 08:39] hren-ron opened #841 "Get the authenticated user"
hi
In the file "Github/AuthenticatedUser.py", an AuthenticatedUser object can be created by calling ``get_user()`` on a Github object. But when calling get_user(), the function return an 'NamedUser' object, so i can not use the ``get_user_issues()``,i want to know how to get the authenticated user object?

[2018-07-11 09:10] sfdye commented on #841
Can you provide a specific example of what you wanna achieve?

[2018-07-11 09:42] hren-ron commented on #841
`gh=Github(username,password)
user=gh.get_user(name)
issues=user.get_user_issues()
`
When calling ``get_user_issues()``, i find that ``AttributeError: 'NamedUser' object has no attribute 'get_user_issues'``

[2018-07-11 09:57] sfdye commented on #841
https://developer.github.com/v3/issues/#list-issues

I believe there is no such API to query issues for a NamedUser.

[2018-07-11 10:43] hren-ron commented on #841
In the PyGithub source code file "Github/AuthenticatedUser.py", i find that an AuthenticatedUser object can be created by calling ``get_user()`` on a Github object. And i find there is a ``get_user_issues()`` in the file for an AuthenticatedUser, so i want to know how to create the AuthenticatedUser object?

[2018-07-11 10:45] hren-ron commented on #841
`class AuthenticatedUser(github.GithubObject.CompletableGithubObject):
    """
    This class represents AuthenticatedUsers as returned by https://developer.github.com/v3/users/#get-the-authenticated-user
    An AuthenticatedUser object can be created by calling ``get_user()`` on a Github object.
    """`

[2018-07-11 11:49] sechastain commented on #840
I just get antsy any time I see code wanting passwords and such ☺️

Any procedures / best practices / things to not do?

I guess what I'm think of right now is generating a temporary token, generate the replay, and then delete the token?

[2018-07-11 11:56] sfdye commented on #840
You could. According to the docs:
https://github.com/PyGithub/PyGithub/blob/master/CONTRIBUTING.md#automated-tests

You can generate a personal token and run the test with `--record --auth_with_token`. That's it :)

[2018-07-12 02:53] sfdye commented on #841
`gh.get_user()` (without any parameter) will give you `AuthenticatedUser`. What I mean is, according to the official Github documentation, you simply can't get the issues of the non authenticated user.

[2018-07-12 03:18] sfdye commented on #840
Closed by #843

[2018-07-12 03:18] #840 closed

[2018-07-12 14:03] hren-ron commented on #841
OK

[2018-07-13 04:00] #841 closed

[2018-07-13 04:04] sfdye commented on #710
What do you need exactly?

[2018-07-16 19:42] charlesreid1 opened #845 ""Edit on Github" links in documentation are broken"
Was looking at the Repository page: https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html

Saw that it was missing some information, so I clicked on the "Edit on Github" link: https://github.com/PyGithub/PyGithub/blob/master/doc/github_objects/Repository.rst

Got Github's "Page not found".

This issue affects all pages in the "Github objects" section of the documentation.

[2018-07-16 19:43] charlesreid1 commented on #845
Navigating to `doc/github_objects/` on the master branch of the repo shows an empty folder: https://github.com/PyGithub/PyGithub/tree/master/doc/github_objects

Where does the documentation live?

[2018-07-16 19:48] charlesreid1 opened #846 "Creating new file in repo requires a leading /"
If user calls the `create_file()` method of the `Repository` object and specifies a path to the file, and the path to the file does _not_ include a leading `/` character, the user gets an unhelpful "404 object not found" error, with no indication of which object can't be found (the file? the repo? the user?...)

[This Stack Overflow answer](https://stackoverflow.com/a/40614406/463213) mentions tha

[2018-07-17 03:30] sfdye commented on #846
Sorry if it's not clear. You just need to edit the python docs of the `create_file()` method, after it's merged to the master, the latest doc will be live on readthedocs.

[2018-07-17 03:32] sfdye commented on #846
Namely change this line:
https://github.com/PyGithub/PyGithub/blob/master/github/Repository.py#L1458

[2018-07-17 04:27] pxgst128 opened #847 "Issues in enterprise github reference while updating a new sha"
db9e6a0fb74d89619478a2569cc9df85b756a292

https://somehost:someport/api/v3/repos/Corp-GSC-GEA/GSC-GEA-SOA-test-repo/git/commits/db9e6a0fb74d89619478a2569cc9df85b756a292

commit

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/sw/pkg/user_projects/python-3.7.0/lib/python3.7/site-packages/github/GitRef.py", line 97, in edit
    input=post_parameters
  File "/sw/pkg/

[2018-07-17 13:50] mfonville commented on #847
I am not sure why the value of `.url` is `https:///api/v3/repos/Corp-GSC-GEA/GSC-GEA-SOA-test-repo/git/commits/db9e6a0fb74d89619478a2569cc9df85b756a292` but clearly for some erroneous reason the protocol-type (`https://`) got added to the relative url of `/api/`.

[2018-07-17 17:35] RayBB commented on #456
I've also been looking for a while on how to make a branch and it's obvious. I think this could be helpful.

[2018-07-18 13:48] pxgst128 commented on #847
never mind but the private host is hidden for some security reason. But issue is updating the sha doesn't work.

[2018-07-18 14:19] mfonville commented on #847
ok, please next time don't remove them, but put some bogus information there please. Like `private-host.org:1337` :-)

[2018-07-18 20:45] charlesreid1 commented on #845
IMO this issue should not be closed. Can the information added to #846 be added somewhere easier for users to find? Or, ideally, can the edit on github links be fixed somehow?

[2018-07-19 10:22] #549 closed

[2018-07-20 03:31] HaoChuan9421 opened #848 "how to sort stargazers by date"
get stargazers of a repo: http://developer.github.com/v3/activity/starring/#list-stargazers
it seems doesn't list any sort or direction parameter.so how to sort stargazers by date or some else parameters
I couldn't find it in the reference, maybe I missed it?Thanks :)

[2018-07-20 03:47] sfdye commented on #848
Looks like you can use a custom header to get the starred date:
https://developer.github.com/v3/activity/starring/#alternative-response-with-star-creation-timestamps

Fortunately someone implemented this so you can use `repo.get_stargazers_with_dates()`. But you probably need to perform the sorting by yourself.

[2018-07-20 05:01] asottile commented on #672
Would anyone be opposed to a PR which removes the bulky data files? I could work on that

[2018-07-20 05:05] HaoChuan9421 commented on #848
thank you! I have tried to add `header` `Accept: 'application/vnd.github.v3.star+json'` and got results with `starred_at` field。
![image](https://user-images.githubusercontent.com/28668354/42983744-ed81ce7c-8c1a-11e8-89e6-7be170e5c9c5.png)
but it was not what i expected.i have already find out this API has parameters for pagination whice are `page` and `per_page`,so i wander does parameter like `s

[2018-07-20 05:20] sfdye commented on #848
In other words, you want to get the latest stargazer?

[2018-07-20 05:35] sfdye commented on #672
Go ahead. Don't wanna be blocked by historical issues.

[2018-07-20 05:37] HaoChuan9421 commented on #848
yes,it is the sence!!!

[2018-07-20 05:52] sfdye commented on #848
Well then I have a recipe for you. It looks like although Github does not officially support the `sort` parameter, the stargazers are sorted chronologically by default. So we just need to get the last item from the list.

The following idea is taken from #820

1. First make a request to stargazers API with a parameter `per_page=1`:
GET https://api.github.com/repos/PyGithub/PyGithub/stargazers?per_

[2018-07-20 05:59] HaoChuan9421 commented on #848
the `Link' header with total count is really userful!!! Thank you very much!!!

[2018-07-20 06:17] HaoChuan9421 commented on #848
By the way! If a repository's star count is too large(>40000).[example](https://github.com/vuejs/vue) it's over 10K!this API can get only the 40000th user which is not the true latest one.do you have some suggestion?

![image](https://user-images.githubusercontent.com/28668354/42985939-2060cc3e-8c26-11e8-9063-19f86509f800.png)

https://api.github.com/repositories/11730342/stargazers?page=4001&per_

[2018-07-20 06:23] prakhar21 commented on #472
Thanks @andrewgross

[2018-07-20 06:25] HaoChuan9421 commented on #848
By the way! If a repository's star count is too large(>40000).[example](https://github.com/vuejs/vue) it's over 10K! this API can get only the 40000th user which is not the true latest one.do you have some suggestion?
![image](https://user-images.githubusercontent.com/28668354/42986544-84ecdcae-8c28-11e8-8f27-b1f43208cf08.png)
https://api.github.com/repositories/11730342/stargazers?page=4001&per_p

[2018-07-20 06:31] sfdye commented on #848
Good find 😂

Unfortunately unless Github provides a `sort` parameter, I don't see a good way to achieve this for a huge popular repo.

[2018-07-20 06:33] HaoChuan9421 commented on #848
😄😂it is time for emoji😂😄,thank you all the same

[2018-07-20 06:33] #848 closed

[2018-07-24 03:46] sergey48k opened #850 "Attributes are lost by PaginatedList"
A snippet first:

[code]
This results in an error: KeyError: 'contributions'. The API call `GET repos/sourcerer-io/sourcerer-app/contributors` returns contributions just fine.

This happens because of this line in github/PaginatedList.py:191:

`self.__contentClass(self.__requester, headers, element, completed=False)`

That is, each NamedUser is created as incomplete. Whet its attributes are access

[2018-07-24 12:52] #786 closed

[2018-07-26 15:50] #710 closed

[2018-07-26 21:15] rt-alex commented on #586
Any update on this?

[2018-07-27 09:36] UlaganathanNamachivayam opened #851 "Inviting a user via email address using pygithub."
Hi Team,
Have gone through the documentation and found solutions to invite a nameduser. I have use case where i wanted to invite an external user using his E-mail address. But could not see an option to do the same using pygithub where only nameduser is supported.

Kindly help.

[2018-07-27 09:44] sfdye commented on #851
You are right. I guess the following endpoint is yet to be implemented:
https://developer.github.com/v3/orgs/members/#create-organization-invitation

[2018-07-27 16:09] mfonville commented on #786
Pity stale bot closed this issue. I think the least we should do is add an assert that checks if the first character is `/` in the method.

[2018-07-30 18:45] bbi-yggy commented on #512
It would be great if the main Github object provided a mechanism for setting desired time zone, and that all retrieved datetimes would respect it. Alternatively, make all times timezone aware based on their local context - for example the datetime on a commit should indicate the timezone where the commit occurred.

[2018-07-30 18:55] bbi-yggy commented on #512
By the way, for anyone arriving here who wants to get the PyGithub datetimes converted to a particular time zone, this should help:
[code]

[2018-07-31 04:51] #432 closed

[2018-07-31 15:48] bbi-yggy commented on #606
For reference, these are the API's to be wrapped:
https://developer.github.com/v3/projects
https://developer.github.com/v3/projects/cards

Would also be nice to be able to get the project associated with a pull request, unfortunately that is not (currently) supported by the Github API v3.

[2018-07-31 20:22] Ermenymw opened #852 "usage of suspend a github enterprise user"
For Github Enterprise usage, if we need to suspend an inactive user, can we have a suspend_user function call implemented?
The only solution currently is directly making a API call? https://developer.github.com/v3/users/administration/

[2018-08-01 02:13] bbi-yggy commented on #606
I've started looking at this. Should have at least a preliminary pull request in the not too distant future.

[2018-08-01 05:14] bbi-yggy commented on #606
Here's a pull request on my own fork to demonstrate what I've done so far. Needs more work (see "To Do" list) but is now functional.
https://github.com/bbi-yggy/PyGithub/pull/1

@sfdye Please let me know how this is looking. Does the overall approach and implementation seem ok? Am I sticking with PyGithub and python conventions to your satisfaction? (I'm a bit of a python noob, so bear with me ...

[2018-08-01 16:42] bbi-yggy commented on #824
Now that I have PyGithub forked and running locally from source (I'm looking at #606) perhaps I can investigate this further.

[2018-08-01 17:36] bbi-yggy commented on #606
BTW, can someone tell me how I can test my in-development version of PyGithub with other scripts I'm working on? Normally I "pip install PyGithub" and then python just knows where to find it.

Should I use "pip install --editable" as described [here](https://pip.pypa.io/en/stable/reference/pip_install/#options)?

[2018-08-02 03:13] sfdye commented on #606
@bbi-yggy can you open your PR against PyGithub, not your fork?

[2018-08-02 03:16] sfdye commented on #852
As it is not currently implemented, PR are welcome

[2018-08-02 13:28] vishakraj25 opened #853 "search user by created date"
Hello,
I run this lines of code to get info
g = github.Github("USERNAME", "PASSWORD")
users=g.search_users("created:2017-11-05+vishakraj25+in:login&type=Users")
for user in users:
    print(user.login)

But It show the error..
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/github/PaginatedList.py", line 58, in __iter__
    ne

[2018-08-02 15:47] bbi-yggy commented on #606
@sfdye I planned to wrap up the "to do" items before opening up the PR against the main repo - if you prefer then I'm happy to the put the work-in-progress PR against main (just don't merge it yet!)

[2018-08-02 15:52] bbi-yggy commented on #606
Pull request opened as #854.

[2018-08-03 15:52] PedroGFonseca commented on #534
I'm trying @RichardJTorres's solution, but still get a 404. Can access non private repos, but not organization repos.

[2018-08-03 15:54] PedroGFonseca commented on #534
Ah, the problem was that I hadn't given the token the right permissions. Clear.

[2018-08-03 18:51] allevin opened #855 "Improve IssueEvent Object to support all attributes"
Hello, the class [IssueEvent](https://github.com/PyGithub/PyGithub/blob/master/github/IssueEvent.py) is missing a large number of attributes documented in the [API](https://developer.github.com/v3/issues/events/).

This is also commented about in #653 to a degree

I have been working at addressing this and have all the attributes supported in my [branch](https://github.com/allevin/PyGithub/commit/

[2018-08-07 05:41] JosephTLyons opened #856 "ImportError: No module named github"
I'm trying to use PyGitHub and I'm getting "ImportError: No module named github".

Setup specs:
macOS v10.13.6
Python v3.7.0
Installed with pip v18.0

[2018-08-07 06:34] sfdye commented on #856
Change your current directory and try again?

[2018-08-07 08:30] JosephTLyons commented on #856
Do you mean simply move the script to another directory and try again?  If that's what you meant, I tried and nothing changed.

[2018-08-07 14:09] sfdye commented on #856
Is your script name also "github"?

[2018-08-07 15:49] djstein commented on #830
created a pull request here.... https://github.com/PyGithub/PyGithub/pull/858

[2018-08-07 21:30] JosephTLyons commented on #856
No, the Python script is not named "github".

[2018-08-07 21:34] JosephTLyons commented on #856
Since I haven't used the library at all, I was just attempting to use the sample code provided in the `README.md`

<img width="1059" alt="screen shot 2018-08-07 at 5 33 05 pm" src="https://user-images.githubusercontent.com/19867440/43803879-1a827b78-9a68-11e8-8752-5ee7fd2516bd.png">

[2018-08-08 08:41] georgistephanov commented on #856
@JosephTLyons Did you run `$ pip install pygithub` before trying to use the library?

[2018-08-08 22:00] JosephTLyons commented on #856
Yes, I did.  And if I run it again, I get these messages to confirm it.

[code]

[2018-08-09 05:19] NKUMBA2017P92320170631 opened #859 "Is there have some static api?"
Hi, PyGithub is a great product, and I need to static some data of repository. But if I use PyGithub
to collect data directly , I will get a error of timeout from github which ban my request for  frequency problem.

**Is there some static api? Or I miss it?**

[2018-08-09 18:30] Abdur-rahmaanJ opened #862 "More Examples"
Add more examples to docs

[2018-08-09 19:00] tsiq-cejas opened #863 "Upload a zip file as content for InputGitTreeElement"
This is a question:

I am trying to upload zip files to my repo by creating a tree with a bunch of InputGitTreeElement elements. Some of these InputGitTreeElement are zip files. InputGitTreeElement only accepts 'str' for content. How can I do this?

thanks!

[2018-08-10 02:26] sfdye commented on #859
What do you mean by static api? Do you mean the requested data does not change frequently?  It seems to be me you are violating the designated API [rate limit](https://developer.github.com/v3/#rate-limiting).

[2018-08-10 02:29] sfdye commented on #863
What's your initial use case? Just uploading a file to your repo? If so, there is a upload api you can use. (but limited to upload one file at a time)

[2018-08-10 02:42] NKUMBA2017P92320170631 commented on #859
Ohh, my mistake, made a typo ,

 should be **statistics api**.
And, yes it is, the rate limit problem.
statistics api: Means statistics data from API,  like [statistics](https://developer.github.com/v3/repos/statistics/).
But I need more complicated statistics data.

Is there anyway or method to solve this?

[2018-08-10 03:18] sfdye commented on #859
The stats API are implemented, e.g.:

http://pygithub.readthedocs.io/en/latest/github_objects/Repository.html#github.Repository.Repository.get_stats_contributors

All `get_stats_*` methods

[2018-08-10 06:00] NKUMBA2017P92320170631 commented on #859
OK! Getcha! Thanks a lot, that was I need!

[2018-08-10 06:00] #859 closed

[2018-08-10 06:11] NKUMBA2017P92320170631 commented on #856
Hi, @JosephTLyons  did you install py2 and py3 together in your MBP?
If you do,  confirm your IDE interpreter config is same as your pip install was
like the picture below
![image](https://user-images.githubusercontent.com/42196045/43941399-99d37694-9ca6-11e8-9cc7-c15fc3907363.png)
and my IDE interpreter config is
![image](https://user-images.githubusercontent.com/42196045/43941538-1d505b40-9ca7-1

[2018-08-10 12:34] tsiq-cejas commented on #863
First, I forgot to say that I am using Python3.
I am want to upload a bunch of changed json files plus some zip files as one commit:

repo.create_git_commit(commit_msg, end_tree, parents=[commit.commit])

end_tree is a list of InputGitTreeElement. Each one corresponds to a file. My problem becomes that the 'content' of InputGitTreeElement can only be of type 'str' or 'unicode'. When I load a file

[2018-08-10 13:13] eamanu commented on #856
@JosephTLyons Try to run  the script on a terminal.... If this run successfully your IDE is bad configured

[2018-08-10 13:30] sfdye commented on #863
You can use blob.

[code]

[2018-08-10 14:14] tsiq-cejas commented on #863
It wouldn't be the same problem? `create_git_blob` expects string as content.
url points to a zip downloadable url.

[code]

[2018-08-10 14:16] sfdye commented on #863
replace `resp.content` with `resp.content.decode("utf-8"）`

[2018-08-10 14:29] tsiq-cejas commented on #863
Is not able to decode it as utf-8:
[code]

[2018-08-11 01:00] sfdye opened #864 "test issue for issue events"

[2018-08-11 01:01] #864 closed

[2018-08-11 16:28] Krafty-Coder commented on #862
Yes, @Abdur-rahmaanJ I completely agree. Though I managed to work around it, it should have more detailed examples on it

[2018-08-12 08:52] JosephTLyons commented on #856
I do have both python 2 (the version Apple ships with their mac) and python3 (installed through Homebrew).

Also, I am running the script through Terminal, I'm not using an IDE.  I'm coding strictly with Atom and then running with Terminal.

[2018-08-12 08:54] JosephTLyons commented on #856
Bear with me, while I'm not a new programmer, I am new to Python and this is one of the first Python modules I've tried to use that wasn't successful for me.

<img width="640" alt="screen shot 2018-08-12 at 4 54 04 am" src="https://user-images.githubusercontent.com/19867440/44000331-c89c31d2-9deb-11e8-8b2b-d3b336072cb1.png">

[2018-08-15 02:55] sfdye commented on #850
@sergey48k Seems like we removed the `contributions` attribute from `NamedUser` from #443, as we thought this attribute was not needed anymore.

[2018-08-15 03:05] sergey48k commented on #850
Well, I needed it. And I had to abandon pygithub in favor of good old HTTP requests for it.
Also, it's very surprising that NamedUser is created incomplete.

[2018-08-15 03:07] s-t-e-v-e-n-k commented on #850
It isn't that the attribute wasn't needed, it wasn't populated. Let me dig into this.

[2018-08-15 03:26] sergey48k commented on #850
thank you @s-t-e-v-e-n-k

[2018-08-15 03:37] #586 closed

[2018-08-15 03:39] #850 closed

[2018-08-15 03:42] sfdye commented on #850
[code]

confirmed it works now

[2018-08-15 07:14] #485 closed

[2018-08-16 08:14] sfdye opened #866 "test issue to be created"

[2018-08-16 08:14] #866 closed

[2018-08-17 00:03] thefunkjunky opened #867 "Branch object is missing most attributes and methods"
I'm playing around with this library with the hopes that I can automate things on our Github Enterprise.  One of the first things I need to do is to set branch protections for our repos.  However, when I initiate a Branch object from a test repository (that already had branch protections set, mind you), the only attribute it has assigned is "name", and most of the methods listed in the documentati

[2018-08-17 01:28] sfdye commented on #867
What PyGithub version are you using? Note that #790 is only recently merged in but not released yet.

[2018-08-17 18:51] thefunkjunky commented on #867
I'm using PyGithub-1.40 and Github Enterprise 2.8.6.
https://github.com/PyGithub/PyGithub/pull/790 definitely looks promising, although my company's GHE version is a little out of date, so I'm not sure if the API changes affect it

[2018-08-17 21:48] thefunkjunky commented on #867
Looks like the latest merge fixed the issues of missing attributes and methods, but it seems to be incompatible with my version of the API:
[code]

OUTPUT:
[code]

This appears to be a separate issue, so I'll close this ticket.  Thank you.

[2018-08-18 02:09] sfdye commented on #867
Do raise a new issue if the master breaks.

[2018-08-18 20:30] EnterNewName opened #869 "why"
why in tf can you have better documentation

[2018-08-19 02:35] sfdye commented on #869
Duplicate of #862

[2018-08-19 02:35] #869 closed

[2018-08-19 02:35] sfdye commented on #862
Better documentation coming up soon

[2018-08-19 02:41] #830 closed

[2018-08-19 23:46] patrickelectric opened #870 "totalCount fail"
[code]

[2018-08-20 02:34] sfdye commented on #870
This was fixed in #820 , but I need to publish a new version to PyPI. For now you can use the master.

[2018-08-20 02:34] #870 closed

[2018-08-21 02:20] sfdye opened #872 "Unable to publish new version to PyPI"
https://api.travis-ci.org/v3/job/417794039/log.txt

[code]

[2018-08-21 08:14] #456 closed

[2018-08-21 08:14] #862 closed

[2018-08-21 08:24] sfdye opened #874 "PyGithub example usage"
Motivation:
#862 #456 #321 #584 #762

PyGithub is a great library, however it may not be intuitive to use at the beginning. Not everyone is a Github API expert, so I am trying to provide some working examples (recipes) that will hopefully help you get started.

The skeleton has been setup [here](https://github.com/PyGithub/PyGithub/tree/master/doc/examples) and the example docs is already live on

[2018-08-21 08:25] sfdye commented on #862
See #874

[2018-08-21 08:26] sfdye commented on #456
See #874

[2018-08-21 08:28] sfdye commented on #321
Please see #874

[2018-08-21 08:53] Abdur-rahmaanJ commented on #874
API expect -> API expert

[2018-08-21 08:55] sfdye commented on #874
Done thanks @Abdur-rahmaanJ

[2018-08-21 09:40] Abdur-rahmaanJ commented on #874
@sfdye readd the login example please ^^_

[2018-08-21 09:41] sfdye commented on #874
@Abdur-rahmaanJ What do you mean?

[2018-08-22 18:32] edouardtheron opened #877 "Error when updating or deleting file from repo"
On a public repository, I tried three things using PyGithub:

1. Create a new file on the master branch, but using the low-level API (eg, create a blob, then a tree, then commiting the new tree, then updating the branch's HEAD)
2. Updating this file (with the `Repository.update_file()` method)
3. Deleting this file (with the `Repository.delete_file()` method)

The first step, low level creation, w

[2018-08-22 19:27] edouardtheron commented on #877
I spent a little time debugging the problem with PyCharm, looks like my first guess was good: a trailing slash is missing after the `/contents` part of the URL.

The endpoint reached is of the following pattern:
`https://api.github.com/repos/USERNAME/REPO_NAME/contentsFILENAME`

[2018-08-23 00:34] LeonardoFurtado commented on #856
I have the same problem. I created a virtual environment and tried to install PyGithub using pip install PyGithub. I received: Requirement already satisfied (use --upgrade to upgrade): pygithub in /myvenv/lib/python3.5/site-packages
Requirement already satisfied (use --upgrade to upgrade): requests> = 2.14.0 in /myvenv/lib/python3.5/site-packages (from pygithub)
Requirement already satisfied (use

[2018-08-23 00:38] sfdye commented on #856
Does a Python 2 virtualenv solve the problem?

[2018-08-23 00:41] LeonardoFurtado commented on #856
Where it will be used, python 2 is not used because of conflict.

[2018-08-23 00:42] sfdye commented on #856
This seems to be one annoying known issue, let me investigate and try to fix.

[2018-08-23 01:09] sfdye commented on #877
Before I dig in deeper, will #846 be of interest to you? I assume it's just bad documentation?

[2018-08-23 12:03] edouardtheron commented on #877
Thanks @sfdye, indeed the two issues are related.

Maybe it's just a documentation issue, but then we'll have a different use case for some methods than for others: anywhere else (to the best of my knowledge) no added `/` is mandatory when reaching a specific URL built with a variable... What do you think?

[2018-08-23 12:05] sfdye commented on #877
Maybe this one(s) are an exception, since they are all file related. (upload, edit, delete a file). What do you think?

[2018-08-23 12:08] edouardtheron commented on #877
Imho, to ensure consistency between the way that Git (and Github) treats files and file paths, I think we should avoid to need of adding `/` before the path.

[2018-08-23 12:12] sfdye commented on #877
Okay, I agree. In this case, the fixing PR should update for all the files related methods at once and corresponding test data as well 😄

[2018-08-23 12:13] sfdye commented on #877
Relates #786 as well

[2018-08-23 12:26] edouardtheron commented on #877
Thanks. I'll look deeper into the PR  when I have delivered the small piece of software I'm building (meanwhile, I monkey-patched the two `Repostitory` methods that caused me trouble)

[2018-08-23 12:27] sfdye commented on #877
Sounds like a plan!

[2018-08-23 12:50] eamanu commented on #856
Can be a problem of PIP?

I remember had this problem (with other module) on Linux Mate.

[2018-08-23 21:05] allevin commented on #28
Comment created by PyGithub

[2018-08-24 07:08] #314 closed

[2018-08-24 07:14] sfdye commented on #856
If this is still an issue, pip install from the latest master branch, where I just fixed an import issue in de6b713b0.

Also comments in #314 are worth checking out.

[2018-08-24 13:43] allevin commented on #28
Comment created by PyGithub

[2018-08-24 17:42] djstein commented on #872
@jayfk please! there are large problems due to TLS on the current version

[2018-08-25 04:54] #817 closed

[2018-08-26 19:52] #356 closed

[2018-08-27 03:57] #353 closed

[2018-08-27 04:07] s-t-e-v-e-n-k commented on #353
@sfdye PR #425 can be closed as a consequence of my PR merging.

[2018-08-27 04:09] sfdye commented on #353
@s-t-e-v-e-n-k Done

[2018-08-27 09:38] gs-ctoleti opened #884 "A token is getting blocked after a few number of attempts"
Hi Team,

We are using PyGithub module to interact with GitHub using personal access tokens.

I have been observing authentication(404) related issues while performing GitHub API operations including getting repo names, getting branch names, adding a user to org, etc.. I have tried by creating a new Personal access token and performed the same operations. It has been working well up to 5 times or

[2018-08-27 09:38] gs-ctoleti opened #885 "Blocker: A personal access token is getting blocked after a few number of attempts"
Hi Team,

We are using PyGithub module to interact with GitHub using personal access tokens.

I have been observing authentication(404) related issues while performing GitHub API operations including getting repo names, getting branch names, adding a user to org, etc.. I have tried by creating a new Personal access token and performed the same operations. It has been working well up to 5 times or

[2018-08-27 09:47] gs-ctoleti commented on #884
DUPLICATE:
Blocker: A personal access token is getting blocked after a few number of attempts
#885 opened 8 minutes ago by gs-ctoleti

[2018-08-27 09:47] #884 closed

[2018-08-27 13:46] allevin commented on #855
Fixed with #857.

[2018-08-27 13:46] #855 closed

[2018-08-28 01:40] arashd opened #886 "`totalCounts` of `github.PaginatedList.PaginatedList` always returns None"
[code]

[2018-08-28 02:18] sfdye commented on #886
This was fixed in #820. However #872 is preventing me from making a new release.

[2018-08-28 06:29] #851 closed

[2018-08-28 13:46] allevin commented on #653
@kiran-vemuri, I believe that this issue is corrected with #857.  If so, can you close?

cc: @sfdye

[2018-08-29 06:16] arashd commented on #886
Got it, thank you! I was hoping to put in a PR and did notice that HEAD had the fix already.

[2018-08-29 12:15] #653 closed

[2018-08-29 15:13] richsalz opened #890 "unknown keyword when editing an organization"
This code
[code]
gets
[code]
Python 2.7.10 on a Mac.  Removing the description keyword and it passes.  Any clues?

[2018-08-30 01:13] seanch87 commented on #872
+1 on this

[2018-08-30 03:29] sfdye commented on #890
This was already fixed in master by #838 , waiting for #872 to get a new release out.

[2018-08-30 09:37] jacquev6 commented on #54
@letmaik I'm not working on PyGithub anymore. If you want to open a PR with a documentation change, I'm sure the current maintainers will merge it.

[2018-08-30 11:48] sfdye commented on #54
@letmaik Yes, I will be happy to review it.

[2018-08-30 11:58] richsalz commented on #890
awesome, thanks.

[2018-08-30 11:58] #890 closed

[2018-08-31 03:19] sfdye opened #891 "Integration branch still used?"
![image](https://user-images.githubusercontent.com/1016390/44890966-75f67180-ad0f-11e8-90f1-f3bf6c7b3bf5.png)

Branch seems pretty outdated, the API may have changed too.

ping @jayfk

[2018-08-31 17:34] edouardtheron commented on #432
Just FYI, to whom is reading this, I've spent 4h trying to figure out how the testing framework works, but couldn't manage to crack it all...

I decided to move on, and [hacked a quick solution](https://gist.github.com/edouardtheron/ce28cb1a8a86caab0129a302d8c2bc33). This is probably not the best, but at least it does the job temporarily...

[2018-08-31 22:12] singh811 commented on #853
@vishakraj25, [this](https://github.com/PyGithub/PyGithub/blob/master/github/Requester.py#L444) is the culprit, when you search users by this **"created:2017-11-05+vishakraj25+in:login&type=Users" it** actually is encoded like **"created%3A2017-11-05%2Bvishakraj25%2Bin%3Alogin%26type%3DUsers"**.
So this is what causing the issue.

[2018-08-31 22:26] tcullum-gpsw commented on #856
Same issue.

[2018-09-01 11:01] singh811 commented on #846
Is someone working on it?

[2018-09-02 09:32] singh811 commented on #823
I will be working on it.

[2018-09-04 00:20] harliebarley opened #894 "GitHub Checks"
Is there a way to use the new feature Checks API? Specifically, to show a build output for my CI. I cannot find anything about the checks API in the documentation.

[2018-09-04 02:19] #894 closed, assigned to nobody

[2018-09-04 03:05] #328 closed

[2018-09-04 05:05] #829 closed

[2018-09-04 10:41] Strikersb opened #895 "Can I get the limit for search now?"
I get self.g.rate_limiting got `(4993, 5000)`

But the search limit is different, with only 30 requests per minute.

Excuse me, I didn't find the corresponding document, or PyGithub does not have this function now.

thanks

[2018-09-04 10:43] Strikersb commented on #895
document: https://developer.github.com/v3/search/#rate-limit

[2018-09-04 11:43] spectejb commented on #16
@jacquev6 - I wanted to follow up on @NicoHood 's question.  It appears this software is dual-licensed under both GPL and LGPL where we could choose either.  Can you confirm that is true?  Thanks, in advance, for your help!

[2018-09-04 11:51] sfdye commented on #895
Possible duplicate of #895

[2018-09-04 13:04] Strikersb commented on #895
@sfdye  Thank you very much. By the way, when will `get_search_rate_limit()` be completed?

[2018-09-05 02:58] sfdye commented on #895
When I get some free time, will take a look. Merging with #553 .

[2018-09-05 02:58] #895 closed

[2018-09-05 04:33] #553 closed

[2018-09-05 04:36] sfdye commented on #553
Search API rate limit and GraphQL rate limit is available now. One method for all.

By default it will show you the "core" rate limit. You can also get search/graphql rate limit by accessing the respective attributes.

[code]

[2018-09-05 04:36] sfdye commented on #895
Fixed in #553

[2018-09-05 12:20] khof312 opened #896 "Can't retrieve total count of a file's commits"
I am trying to retrieve a list of all previous commits for a file. While I am able to retrieve a PaginatedList using `.get_commits`, and retrieve individual pages from this list, I found the following problems:

1. The PaginatedList object does not have the documented `.totalCount` attribute
2. If I run `len()` on the list I am told that it has no `len()` property.

I am following the instructions

[2018-09-05 12:27] sfdye commented on #896
Duplicate of #886

[2018-09-05 15:10] khof312 commented on #896
Yes thank you. Probably this can be closed, sorry I didn't see the other issue.

[2018-09-05 15:11] #896 closed

[2018-09-06 03:44] #744 closed

[2018-09-07 16:17] jacquev6 commented on #16
@spectejb @NicoHood I have found no indication of double licensing in the source repo. Can you please be more explicit about the confusion? I think opening a new issue would also be more visible for the current maintainers if you want more follow-up.

Just in case you're confused by the COPYING and COPYING.LESSER files, they are here because https://choosealicense.com/licenses/lgpl-3.0/ says so (p

[2018-09-08 07:04] jacquev6 commented on #891
There was no commit on that branch ahead of master, so I deleted it.

[2018-09-08 07:04] #891 closed

[2018-09-08 07:19] #872 closed, assigned to nobody

[2018-09-08 07:32] sfdye commented on #872
Thanks a lot @jacquev6 !

[2018-09-08 07:52] sfdye commented on #886
New version `1.43` is available on PyPI.

[2018-09-08 07:53] sfdye commented on #890
New version `1.43` is available on PyPI.

[2018-09-08 19:13] PhilipMay commented on #835
@sfdye What do you think of my comment above? Should the behavior of the API be changed?
Thanks, Philip

[2018-09-10 08:38] #585 closed

[2018-09-10 09:38] #478 closed

[2018-09-10 09:38] #279 closed

[2018-09-10 09:38] #406 closed

[2018-09-10 09:38] #410 closed

[2018-09-10 09:38] #446 closed

[2018-09-10 09:38] #459 closed

[2018-09-10 09:38] #388 closed

[2018-09-10 09:38] #281 closed

[2018-09-10 18:32] cosmoshepcat opened #900 "Is suspended_users for github enterprise implemented in NamedUser?"
on github enterprise if you have a curl request as follows https://github/api/v3/users/MYUSER

one of the elements returned is either null or dateformat if they have been suspended:

"suspended_at": "2014-04-22T10:21:42-07:00",

Is this object implemented currently in the NamedUser section or any plans to?

Thanks

[2018-09-11 03:10] sfdye commented on #900
Don't think so. Understand that enterprise API may not be updated as ofter as Github.com due to the volume of users. I am open for any PRs.

[2018-09-11 05:15] sfdye commented on #606
#854 is merged. For those who wanna try: `pip install pygithub==1.43.1`

[2018-09-11 07:56] #558 closed

[2018-09-13 13:12] raphaelyancey commented on #536
I also would very much like this to be implemented in PyGithub.

[2018-09-13 18:42] LeonardoFurtado commented on #856
i did it:
`python3 -m venv myvenv`
I activated the environment and then:
`python -m pip install pygithub`
[code]
I tried running a script using pygithub and it did not return any error.

[2018-09-13 18:44] LeonardoFurtado commented on #856
it is good to try to run the script first from the command line of the virtual environment.

[2018-09-13 20:33] singh811 commented on #900
Would like to work on it.

[2018-09-13 20:36] singh811 commented on #828
Would like to work on it.

[2018-09-14 14:56] william20111 commented on #867
This also seems broken for me on 1.43.2 on standard api.github.com

I have 2 branches that are protected by the Branch objects never get the protection_url set.

The protection URL doesnt get set and results in errors for anything that uses it to build URLs.

[code]

If i curl using ```branches?protected=true``` it then returns the protection_url in the payload.
[code]

[2018-09-14 17:32] #477 closed

[2018-09-14 17:32] #258 closed

[2018-09-14 22:18] eaceaser opened #903 "Repository.edit does not let you set merge commit rule booleans to false"
https://github.com/PyGithub/PyGithub/blob/master/github/Repository.py#L1250-L1252 are the offending lines.

The assertions assert that the provided booleans are set to True, so you can never set them to False :)

This is a simple fix to remove that conditional in the assertion, but maybe there was a reason for this?

[2018-09-14 23:10] thefunkjunky commented on #867
I'm reopening the issue on behalf of the last commenter

[2018-09-16 10:10] sfdye commented on #903
Thanks for reporting. I believe that's a typo, unless the PR author thinks otherwise @jacquerie ?

[2018-09-16 10:26] sfdye commented on #867
Can you try get single branch with `get_branch("master")`? I think the issue might be the current `get_branches` method does not support the `protected` parameter.

[2018-09-16 11:32] jacquerie commented on #903
Uhm, it seems like I mindlessly used the same pattern as for `archived`, for which it makes sense to have that assertion because you can't unarchive through the API. So yes, it's a bug that my PR introduced!

[2018-09-16 11:33] sfdye commented on #903
Thanks for confirming! Now I am open for a quick PR to fix it :)

________________________________
From: Jacopo Notarstefano <notifications@github.com>
Sent: Sunday, September 16, 2018 7:32:17 PM
To: PyGithub/PyGithub
Cc: Wan Liuyang; Comment
Subject: Re: [PyGithub/PyGithub] Repository.edit does not let you set merge commit rule booleans to false (#903)

Uhm, it seems like I mindlessly used the sa

[2018-09-16 11:49] jacquerie commented on #903
It happened in https://github.com/PyGithub/PyGithub/pull/904 : )

[2018-09-16 12:00] #903 closed

[2018-09-16 12:01] sfdye commented on #903
Merged!

________________________________
From: Jacopo Notarstefano <notifications@github.com>
Sent: Sunday, September 16, 2018 7:49:37 PM
To: PyGithub/PyGithub
Cc: Wan Liuyang; Comment
Subject: Re: [PyGithub/PyGithub] Repository.edit does not let you set merge commit rule booleans to false (#903)

Thanks for confirming! Now I am open for a quick PR to fix it :)

It happened in #904<https://github

[2018-09-17 11:25] #282 closed, assigned to nobody

[2018-09-17 11:25] #694 closed, assigned to nobody

[2018-09-18 07:35] nv-tc-tp-test opened #905 "Calling totalCount raises TypeError"
## Issue

When I call totalCount on a PaginatedList that received a `204 No Content` response, `len(data)` call
on https://github.com/PyGithub/PyGithub/blob/974d1ec593ac285e0b36b3246fbd4af8b86f565f/github/PaginatedList.py#L158
raises a TypeError.

## Log output

[code]

## Reproduction

[code]

[2018-09-18 08:32] nv-tc-tp-test opened #906 "InvalidURL on 301 - Moved Permanently response when getting repo"
## Issue

When I want to retrieve a repo that has been moved, the subsequent request is sent to a badly constructed url.

## Reproduction

[code]

## Suspected cause

The location parameter of a 301 response returns the full URL, while the `_requestRaw` method only expects the path part which it then appends to the api host name.

## Logs and trace

[code]

[2018-09-18 08:34] #905 closed

[2018-09-18 08:35] sfdye commented on #905
Thanks for reporting. Fixed in master.

[2018-09-19 01:35] zroadhouse-rmn commented on #906
Was able to work around this bug by reverting to 1.40

[2018-09-19 03:19] sfdye commented on #906
Maybe something introduced by #858 ？

[2018-09-19 03:31] sfdye commented on #906
I just tried, works fine when I removed the `allow_redirects=False`

[2018-09-20 19:12] guyer opened #907 "Commit.author and Commit.committer lose information"
`Commit.author` and `Commit.committer` are converted to `NamedUser`, which gives information about the GitHub account, not about the commit.

In the raw json query, something like this is returned
[code]
where `date` is the time stamp the commit was made, but `Commit.author.created_at` appears to return the date the GitHub account was opened.

As a result, there appears to be no way to determine w

[2018-09-21 02:12] sfdye commented on #907
What about `Commit.commit`?

[2018-09-21 17:13] takac commented on #867
https://github.com/dear-github/dear-github/issues/325 I spent a bit of time debugging this issue and raised a bug against the GitHub v3 API.

[2018-09-21 18:02] guyer commented on #907
Thanks @sfdye, `Commit.commit.author.date` does the trick.

[2018-09-21 18:02] #907 closed

[2018-09-23 15:15] #847 closed

[2018-09-24 02:44] sfdye commented on #906
@djstein Any thoughts?

[2018-09-24 15:38] djstein commented on #906
well, allow_redirects=False seems pretty self explanatory that it would not accept 3XX. However, I believe the problem lies in how the 'location' value in the header of the response got merged into the session's headers. It appears that somehow `https://api.github.com/repositories/112116543` is not the value being passed to prepare_url. Can you put an pdb/ipdb/debugger statement in line 303 of `~/

[2018-09-24 15:39] djstein commented on #906
also want to point out, that if PyGithub is not modifying these values / headers then it may be a `requests` issue

[2018-09-26 14:19] webknjaz opened #911 "get_repo crashes with UnicodeEncodeError if log level is DEBUG when GitHub response contains unicode symbol"
So I've got a call to `github.MainClass.get_repo()` (repo in question is `ansible/ansible`). The error message pointed to "mdash" (long dash/`—`) being an offender.

After some digging I've reached call to `github.Requester.__log()` https://github.com/PyGithub/PyGithub/blob/a18eeb3/github/Requester.py#L460-L470

It became obvious that `str(output)` is trying to decode `utf-8` text using `ascii` co

[2018-09-26 14:35] webknjaz commented on #911
Another workaround would be:
[code]

[2018-09-26 22:51] fabianbaier opened #912 "GithubException: 500 None when using get_issues"
Hi,

When using ```
repo = g.get_repo("some/repo")
repo.get_issues(sort='created', direction='desc', state='closed')``` it fails after a few seconds with:
[code]
Any way to work around this?

Interestingly when using `repo.get_issues(sort='created', direction='desc', state="open")` it works fine.

Any pointing in the right direction appreciated.

[2018-09-27 02:14] sfdye commented on #912
I think this relates to #911

[2018-09-27 17:32] fabianbaier commented on #911
Unfortunate, both proposed workarounds are not working for me.

Both workarounds don't work for me, see also https://stackoverflow.com/questions/45252305/attributeerror-module-sys-has-no-attribute-setdefaultencoding?rq=1

Not clear what I am doing wrong here.

[2018-09-30 10:50] webknjaz commented on #911
@fabianbaier well, `reload()` is a built-in under Python 2 and moved to `imp`/`importlib` in Python3.

But anyway it's just a workaround and not a fix. Meaning it might be dependent on the env. Reducing level should work though. But you need to do this before calling pyGitHub's functions or better before importing it, just to be sure nothing triggers error before you're ready.

The proper fix woul

[2018-09-30 15:47] singh811 commented on #912
I tried the same thing on my end, but didn't get any error. I don't have much deeper knowledge of how Github api works, but can you please look out for the Silly Mistakes in your code which might be causing this.
And if there is no such case then you can try the below given code in order to debug what may be causing the error.
[code]

In the logs you can see which request is breaking and then we c

[2018-10-01 11:25] anuj-reef opened #913 "How to get public events?"
Is there a way to do this - https://developer.github.com/v3/activity/events/#list-public-events?

[2018-10-01 13:31] sfdye commented on #913
Don't think there is. PR are welcome.

[2018-10-01 19:59] fabianbaier commented on #912
Thanks @singh811 for your response! The repo I am testing it with is `kubernetes/kubernetes` and the more verbose output with `Python 3.6` looks like:

[code]

Hope that helps somehow for troubleshooting. I tried same code on `tensorflow/tensorflow` and it works just fine.

[2018-10-02 17:37] fabianbaier commented on #912
the output is identical with your script. I had to modify your script to work in Python 3.6 (yours is in Python 2.x) and used token authentication instead of username/password.

[code]

Output (same problem):
[code]

As you can see same output as the above in my last post. Is there a problem with the request itself and its endpoint?

I am asking because
[code]

Why would api.github.com return `500

[2018-10-03 14:43] elfosardo commented on #435
I would like to take care of this

[2018-10-03 15:51] elfosardo commented on #435
I went ahead and created PR #915

[2018-10-04 12:02] hope-ogbons commented on #764
Are you done implementing? Because I really need this feature today :eyes:

[2018-10-04 12:05] s-t-e-v-e-n-k commented on #764
This was landed in April in https://github.com/PyGithub/PyGithub/commit/e2e29918ea27a005c7f57d8b1fa90b4ddf65d30e . If you use the latest release on PyPi, it's in there.

[2018-10-04 12:19] hope-ogbons commented on #764
`each_pull.get_review_requests()` becomes `(<github.PaginatedList.PaginatedList object at 0x7fb6ce8a12e8>, <github.PaginatedList.PaginatedList object at 0x7fb6ce8a1320>)`

How do I get the list of reviewers or am I still missing something?

[2018-10-04 12:30] hope-ogbons commented on #764
Bless up! Thanks so much @s-t-e-v-e-n-k, you are my personal Jesus :smile:

[2018-10-04 13:35] s-t-e-v-e-n-k commented on #867
I hit this issue when developing the branch protection code -- Repository.get_branches() does return a list
 of branches, but GitHub does not return enough information for the methods on Branch to be useful. If you want to utilise the protection features you must call Repository.get_branch('name').

[2018-10-04 13:41] #906 closed

[2018-10-05 02:28] sfdye commented on #435
Fixed #915

[2018-10-05 02:28] #435 closed

[2018-10-07 16:51] #824 closed

[2018-10-07 18:07] 0x48piraj commented on #514
Same error.
[code]

[2018-10-07 18:48] 0x48piraj opened #919 "Timeout exception in request for PRs from a Repository"
Refer #808

[code]

[2018-10-08 13:21] elfosardo commented on #900
I had some spare time and put together this PR #922

[2018-10-08 15:11] elfosardo opened #923 "deprecate requirements in favor of pipenv"
this is more a feature request than an issue
pipenv is the new python packaging tool that solves different known problems using the old pip + virtualenv + requirements.txt mode
would be nice to add the configuration files to the repo and remove requirements.txt

[2018-10-09 10:16] elfosardo commented on #923
PR with simple pipenv config files #924

[2018-10-10 08:38] #591 closed

[2018-10-10 12:37] elfosardo commented on #913
I noticed there's a function get_event in [AuthenticatUser.py](https://github.com/PyGithub/PyGithub/blob/ade78ffb2dc78f02e7ebc3db704900c70e401341/github/AuthenticatedUser.py#L671)
is that what you're looking for ?

[2018-10-10 12:41] sfdye commented on #913
Looks promising, could you try?

[2018-10-10 19:36] loganknecht opened #926 "GitHub Repo Traffic Endpoints are Missing"
Hello there,

Love the work that's being done here.

It appears that there is a set of endpoints that are from the traffic endpoints.

Specifically
`GET /repos/:owner/:repo/traffic/popular/referrers`
`GET /repos/:owner/:repo/traffic/popular/paths`
`GET /repos/:owner/:repo/traffic/views`
`GET /repos/:owner/:repo/traffic/clones`

These can be found here:
https://developer.github.com/v3/repos/traffic

[2018-10-11 15:20] elfosardo commented on #913
I did a quick test and it looks like it's getting all the public events
@anuj-reef if you could also check if that is what you were looking for

[2018-10-11 18:48] mscheper commented on #874
I just started with PyGithub, and [found some examples](https://pygithub.readthedocs.io/en/latest/examples.html), so obviously some work has been done—thanks, people!

But I don't see any examples for how to use events, e.g. [pushevent](https://developer.github.com/v3/activity/events/types/#pushevent) and [pullrequestevent](https://developer.github.com/v3/activity/events/types/#pullrequestevent).

[2018-10-12 10:03] men1n2 opened #929 "Github.search_topics returning list of repos that throw an error when trying to fetch undefined data"
Hello,

I was trying to fetch a list of repositories with a specific topic and then play with the returned attributes, but the Repository objects returned in the PaginatedList throw an error when trying to fetch unknown data:
[code]

Below is an example of the code:
[code]

It can be tested here: [https://repl.it/repls/LawngreenPlushBetaversion](https://repl.it/repls/LawngreenPlushBetaversion)

En

[2018-10-14 06:56] KeatingSmith commented on #929
I will fix it later :p

[2018-10-14 12:30] KeatingSmith commented on #929
Maybe, wrong code is [here](https://github.com/PyGithub/PyGithub/blob/ac8966cc8cb0b9acf3c9ea14162ae800474d4265/github/GithubObject.py#L272)

[2018-10-14 12:58] jacquerie commented on #929
Uhm? I don't think I contributed code to any of this...

[2018-10-15 18:54] mscheper commented on #874
Thanks, @LeviMatus!

[2018-10-16 02:33] sfdye commented on #786
@mfonville this is a great idea.

[2018-10-16 08:02] AnYeMoWang opened #933 "Couldn't get ContentFile's last_modified attribute directly"
I've found a weird thing recently, I couldn't get ```last_modified``` unless I called ```update()```function. Is it a bug or something?:
[code]

[2018-10-16 15:07] #863 closed

[2018-10-17 08:37] slinkymanbyday opened #934 "BadCredentialsException not raised on GitHub enterprise"
On Github Enterprise, the API message does not read "Bad credentials" when incorrect credentials are supplied. It reads "Must authenticate to access this API."

Might be better to just go off of the 401 code as opposed to the error message.

 if status == 401 and output.get("message") == "Bad credentials":

should be
 if status == 401:

[2018-10-17 09:00] sfdye commented on #934
PR please I will review

[2018-10-19 10:11] anuj-reef commented on #913
@elfosardo This works but then this supposed to be returning the public events by a user and not all public events.

https://developer.github.com/v3/activity/events/#list-events-performed-by-a-user

[2018-10-19 17:54] ss-remygreinhofer opened #937 "Add the ability to filter repository collaborators"
The GitHub API call for retrieving repository collaborators[allows for [filtering by affiliation](https://developer.github.com/v3/repos/collaborators/#list-collaborators).

This is not possible with the current [github.Repository.Repository.get_collaborators()](https://github.com/PyGithub/PyGithub/blob/0a10d7cdf0f69ebac6d99e9699df5696cb1e9bea/github/Repository.py#L1343-L1353) function.

[2018-10-21 05:17] cosme12 commented on #863
Did you manage to solve this? I'm having the same problem. I can't find a way to upload a png file.

[2018-10-22 02:47] jaxinye opened #940 "review.raw_data returns NoneType on PullRequestReviewObject"
I've been trying to use below python codes to get pull request reviews of one repository. But the methods raw_data returns 'NoneType' object has no attribute 'startswith' error message.
`    g = Github(token, per_page=100)`
`    res = g.get_repo(int(66293963)).get_pull(46).get_reviews()`
`    page = res.get_page(0)`
`    for review in page:`
`        review_json = json.dumps(review.raw_data)`

[2018-10-22 03:07] jaxinye opened #941 "'raw_data' method of PullRequestReview returns Nonetype error"
I was trying to use following python code to get reviews of one repository. But 'raw_data' method of PullRequestReview object returns 'NoneType' object has no attribute 'startswith' error message.

`    g = Github(token, per_page=100)`
`    res = g.get_repo(id).get_pull(num).get_reviews()`
`    page = res.get_page(0)`
`    for review in page:`
`        review_json = json.dumps(review.raw_data)`

[2018-10-22 13:55] sfdye commented on #940
Normally you don't need to use the `get_page`.
`get_reviews()` returns a PaginatedList, you can just do:
[code]

[2018-10-22 13:55] #940 closed

[2018-10-22 13:55] sfdye commented on #941
Closing in favor of #940

[2018-10-22 13:55] #941 closed

[2018-10-22 18:42] pconrad opened #942 "Endpoint "GET /user/memberships/orgs/:org" not implemented"
I want to ask "is the current user C a member of organization O."

I tried using the /orgs/:org/members/:user end point and simply specifying the current user as the parameter for `named_user`.
– GET: github.Organization.Organization.has_in_members()

Using code such as:

[code]

But that isn't working for me, for reasons I can't figure out.  (I used to work, but doesn't any more).
I had a similar

[2018-10-23 02:37] sfdye commented on #942
I agree, this endpoint needs to be implemented.

For now you can use `org.has_in_members(current NamedUser)` as a work-around. (or `has_in_public_members`)

[2018-10-23 02:38] sfdye commented on #919
Please use the latest version and try again

[2018-10-23 12:51] Bluscream opened #944 "github.GithubException.UnknownObjectException"
[code]

I get this for no reason? Is the library broken?

[code]

[2018-10-23 13:03] Bluscream commented on #944
I added some prints to `C:/Users/blusc/AppData/Local/Programs/Python/Python36/Lib/site-packages/github/Repository.py`
[code]
and got this:
[code]

[2018-10-25 04:42] 007pig opened #945 "PaginatedList reversed property loses http headers"
In reversed(), 'headers' parameter is not passed to PaginatedList(). It makes some APIs not reversible. For example, get_stargazers_with_dates() which requires "Accept: application/vnd.github.v3.star+json" header in the API call.

[2018-10-25 04:51] sfdye commented on #945
Makes sense. PR welcome.

[2018-10-26 07:57] #945 closed

[2018-10-27 14:05] DylanMeeus opened #951 "Clone repository"
I couldn't find this in the examples (or I overlooked it), but I can't see if it is possible to clone the repository using PyGithub.

[2018-10-27 16:16] sfdye commented on #951
Don't think it was provided by Github REST API. You will need a python git client.

[2018-10-27 21:03] DylanMeeus commented on #951
Alrighty, Thank you!

I went the route of just using python to execute git clone with `system.os("..")` :)

[2018-10-27 21:03] #951 closed

[2018-10-28 08:59] letelete opened #952 "How to get informations about reference in issue?"
Hi,
I'm using PyGithub for some boring tasks automatization where I need to check for a specific issue in the repository if any of pull requests reference it. Furthermore, if true, I would like to see if referencing pull request is already merged or not.

Is there any way to do that with PyGithub? I've been looking in documentation and couldn't find anything related.

I will be grateful if you can

[2018-10-29 16:39] schreck61 commented on #929
Just glancing at the code.  It appears that search_topics is returning a paginated list of GitHub repositories, but the API seems to return a list of topics, including the following properties:

- name
- display_name
- short_description
- description
- created_by
- released
- created_at
- updated_at
- featured
- curated
- score

I think this may be the root problem.

[2018-10-30 21:58] pconrad commented on #942
Unfortunately I need to be able to check regardless of whether the membership is public or not.   The `org.has_in_members(current NamedUser)` was not working for some reason, but to be fair, the day I tried, in retrospect was also the day of the GitHub general service meltdown.  So I will try that again.

Any pointers to code that starts with PyGithub for authentication, but then switches to raw j

[2018-10-31 00:04] sfdye commented on #942
Just add that implementation I guess? Let me know if you need any help

[2018-10-31 09:00] men1n2 commented on #929
Yes indeed, the API endpoint /search/topics returns a list of topics that are related to the provided keyword and not a list of repositories tagged with that topic (which is a little bit confusing, maybe ?).
In my code I used the other API endpoints and it worked fine.

But still, the method in PyGithub should be corrected to return the good result.

[2018-10-31 09:56] sfdye commented on #929
PR welcome

[2018-11-02 10:51] #885 closed

[2018-11-03 13:58] enricorotundo commented on #472
LOL we all got into the `github.py` trap 🤖

[2018-11-03 15:29] enricorotundo commented on #144
Took me a while to find out that `raw_data` property returns a dict. I see in other libraries they call it something linke `as_dict`, that makes it easier to find via the search bar... shall I PR a few doc lines?

[2018-11-06 10:27] Bluscream opened #955 "Get all forks of my source repos?"
I can get notified of people forkinb my repos but thats not half as interesting as knowing when the actually get modified.
Is there a way to get a iterable with all repos on github that are forked from one of my or my organisations repos?

[2018-11-06 13:13] sfdye commented on #955
I am afraid you have to do it one by one.

https://developer.github.com/v3/repos/forks/#list-forks
https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html#github.Repository.Repository.get_forks

[2018-11-06 23:05] #853 closed

[2018-11-07 16:38] Zoom67 commented on #934
I think this may have broken something. If I run v1.43.2, my script works; if I run 1.43.3, I get 401 {u'documentation_url': u'https://developer.github.com/v3', u'message': u'Bad credentials'}. The credentials are good.

[2018-11-08 12:34] sfdye commented on #934
@Zoom67 Can you share the script?

[2018-11-08 12:36] sfdye commented on #579
Removing the stale label..

[2018-11-08 16:00] sfdye commented on #934
@Zoom67 Found the culprit #948

This PR changes the relative positions of the arguments, so you might want to use keyword arguments instead of positional ones.

This should solve your problem:
`self._connection = Github(username, password, base_url=self.base_url)`

[2018-11-08 17:57] Zoom67 commented on #934
Yep, that did it - thanks! I changed that line to be fully qualified, just to be sure.

[code]

[2018-11-09 14:00] #517 closed

[2018-11-10 18:17] RSully commented on #427
Same again.

[2018-11-12 10:33] Ayub-Khan opened #958 "How to get pull request checks status?"
We were using github commit combined status to check the status of pr tests. Those were travis based tests and every thing was working fine. Recently we started using github based tests and that is not working any more. Is there any way we can get the combined status of github checks.

[2018-11-13 02:18] #929 closed

[2018-11-13 02:23] sfdye commented on #958
Yes, call `get_combined_status()` on the `Commit` object you wanna check against

[2018-11-13 09:18] Ayub-Khan commented on #958
get_combined_status() was working fine regarding travis based checks but its failing in case of github based checks.

[2018-11-13 09:20] sfdye commented on #958
By Github checks you mean this? https://developer.github.com/v3/checks/

See #813

[2018-11-14 09:31] Ayub-Khan commented on #958
Yes.

[2018-11-14 09:41] sfdye commented on #958
Then it's feature request.

Closing in favor of #813

[2018-11-14 09:41] #958 closed

[2018-11-17 14:06] PhilipMay commented on #835
Well ok - from my point of view you should at least write into the API documentation that at the moment (you can provide a date) the default only loads open issues. So there is no doubt fpr the API user.

[2018-11-18 03:26] sfdye commented on #835
Okay PR welcome

[2018-11-18 18:05] minno917 commented on #926
I am part of a group of five and we would like to attempt to implement this.

[2018-11-18 21:53] miguelgfierro commented on #926
@minno917 maybe this can help you https://github.com/miguelgfierro/codebase/blob/master/python/utilities/git_stats.py#L167